#*
Copyright (c) 2003-2009  Pavel Rychly
Copyright (c) 2014  Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#
##
## Please note that this template serves only for 'text' output format. All the other
## format options are solved via export plug-ins.
##
#from translation import ugettext as _
#slurp
## Text format
#if $heading
\# Corpus: $human_corpname
#if $usesubcorp
\# Subcorpus: $usesubcorp
#end if
\# Hits: $concsize
\# Relative frequency: $result_relative_freq ($result_relative_freq_rel_to)
#if $result_arf != ''
\# ARF: $result_arf
#end if
#for $d in $Desc
\# $d.op: $d.arg $d.size
#end for
#end if
## kwic lines
#for $i, $l in $enumerate($Lines)
#if $numbering
#set $num = $i+1
$num	#slurp
#end if
#if $num_lines_in_groups > 0#$l.linegroup#end if# #slurp
$l.ref	#slurp
#if $align_kwic
$l.leftspace #slurp
#end if
#for $ll in $l.Left
#unless $ll.class == 'strc'
$ll.str #slurp
#end unless
#end for
<#slurp
        #for $kw in $l.Kwic
        $kw.str #slurp
        #end for
        >#slurp
    #for $rr in $l.Right
    #unless $rr.class == 'strc'
    $rr.str #slurp
    #end unless
    #end for
    #if $align_kwic
    $l.rightspace	#slurp
    #end if
    #if $align
    #for $ii, $ll in enumerate($l.get('Align', []))
    #if $align_kwic
    $ll.ref	#slurp
    #else
    	$ll.ref	#slurp  # there is a tab character as a prefix
    #end if
    #if $align_kwic
    $ll.leftspace #slurp
    #end if
    #for $lw in $ll.Left
    #unless $lw.class == 'strc'
    $lw.str #slurp
    #end unless
    #end for
    <#slurp
            #for $kw in $ll.Kwic
            $kw.str #slurp
            #end for
            >#slurp
        #for $rr in $ll.Right
        #unless $rr.class == 'strc'
        $rr.str #slurp
        #end unless
        #end for
        #if $align_kwic
        $ll.rightspace	#slurp
        #end if
        #end for
        #end if

        #end for