#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _

#encoding UTF-8

#if $saveformat == 'text'
## Text format
#if $heading
  #if $keywords
\# Keywords
  #else
\# Word List
  #end if
\# Corpus: $human_corpname
  #if $usesubcorp
\# Subcorpus: $usesubcorp
  #end if
  #if $pattern
\# Pattern: $pattern
  #end if
  #if $keywords
#end if
#end if

#if $Items
| $wlattr |	Freq
------------------------------
  #for $i in $Items
$i.str	$i.freq
  #end for
#else

  #if $Keywords
$wlattr	Freq	ARF	ARF/mill	Freq_ref	ARF_ref	ARF/mil_ref	Score
----------------------------------------------------------------------------------
    #for $k in $Keywords
$k.str	$k.freq	$k.arf	$k.arf_mill	$k.get('freq_ref', '0')	$k.arf_ref	$k.arf_mill_ref	$k.score
    #end for
  #end if
#end if
#elif $saveformat == 'csv'   ## CSV format
$bom_prefix
#for $item in $data
$item#slurp
#end for
#end if

