#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _


#if $saveformat == 'text' ## Text format
  #if $heading
\# Collocations
\# Corpus: $human_corpname
#if $usesubcorp
\# Subcorpus: $usesubcorp
#end if

    #for $d in $Desc
\# $d.op:  $d.arg $d.size
    #end for

  #end if
  #for $h in $Head
| $h.n	#slurp
  #end for

------------------------------------------------------------
#for $i in $Items
$i.str	$i.freq	#slurp
  #for $ss in $i.Stats
$ss.s	#slurp
  #end for

#end for
#end if

