<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="../../files/js/prototype-1.7.0.js"></script>
        <script type="text/javascript" src="../../files/js/treecomponent.js"></script>
        <script type="text/javascript">
            document.observe("dom:loaded", function() {
                createTreeComponent($$('select[name="corpus-name"]'), 'select item');
                makeListExpandable('stuff');
            });
        </script>
    </head>
    <body>
        <h1>Expandable tree component test</h1>
        <h2>Transformation of a &lt;select&gt;</h2>
        <form action="" method="get">
            <select name="corpus-name" id="select-box-orig" style="">
                <option value="/folderA/item-1">/folderA/item-1</option>
                <option value="/folderA/item-2">/folderA/item-2</option>
                <option value="/folderB/item-1">/folderB/item-1</option>
                <option value="/folderC/folderC.1/folderC.1.I/item-1">/folderC/folderC.1/folderC.1.I/item-1</option>
                <option value="/folderC/folderC.1/folderC.1.I/item-2">/folderC/folderC.1/folderC.1.I/item-2</option>
                <option value="/folderC/folderC.1/folderC.1.I/item-3">/folderC/folderC.1/folderC.1.I/item-3</option>
                <option value="/folderD/folderD.1/folderD.1.I/item-1">/folderD/folderD.1/folderD.1.I/item-1</option>
                <option value="/folderD/folderD.1/folderD.1.I/item-2">/folderD/folderD.1/folderD.1.I/item-2</option>
            </select>
            <select name="corpus-name" class="select-box">
                <option value="/folderU/item-1">item 1</option>
                <option value="/folderU/item-2">item 2</option>
                <option value="/folderV/item-1">item 1</option>
                <option value="/folderW/folderW.1/folderW.1.I/item-1">item 1</option>
                <option value="/folderW/folderW.1/folderW.1.I/item-2">item 2</option>
                <option value="/folderW/folderW.1/folderW.1.I/item-3">item 3</option>
                <option value="/folderX/folderX.1/folderX.1.I/item-1">item 1</option>
                <option value="/folderX/folderX.1/folderX.1.I/item-2">item 2</option>
            </select>
        </form>

        <h2>Expandability of an existing &lt;ul&gt;</h2>
        <ul id="stuff">
            <li><a href="#">item A</a></li>
            <li>item B
                <ul>
                    <li><a href="">item B.1</a></li>
                    <li><a href="#">item B.2</a></li>
                    <li><a href="#">item B.3</a></li>
                </ul>
            </li>
            <li>item C
                <ul>
                    <li>item C.1
                        <ul>
                            <li><a href="#">item C.1.I</a></li>
                            <li>item C.1.II
                                <ul>
                                    <li><a href="#">item C.1.II.&alpha;</a></li>
                                </ul>

                            </li>
                            <li><a href="#">item C.1.III</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>item D
                <ul>
                    <li><a href="#">item D.1</a></li>
                    <li><a href="#">item D.2</a></li>
                </ul>
            </li>
        </ul>
    </body>
</html>