@main-background: url(../../img/groovepaper2.jpg);

// texts
@default-font-family: "Roboto", "Segoe UI", Arial, sans-serif;
@monospace-font-family: "Cousine", "Courier New", monospace;
@condensed-font-family: "Roboto Condensed", "Segoe UI", sans-serif;

@color-default-text: #010101;
@color-light-text: #8d8c8c;
@color-superlight-text: #B0B0B0;
@color-white-text: #ffffff;
@color-dark-green-text: #4c5854;
@text-shadow: 0 0 2px #A0A0A0;


// general colors

@color-section-bg: #f3fbed;

@color-default-green: #D1ECBF;
@color-light-green: #EEF7F1;
@color-green-bg-highlighted: #F0FDBE;

@color-logo-pink: #E2007A;
@color-light-pink: #FFC8AD;
@color-logo-blue: #009EE0;
@color-logo-green: #53AA28;
@color-logo-blue-opaque: RGBA(0, 158, 224, 0.7);
@color-logo-blue-shining: #00CAF6;
@color-whitelike-blue: #e2f4fb;
@color-logo-orange: #F0680B;

@color-bg-light-blue: #F4FAFC;
@color-light-frame: #D1ECBF;

@locked-attrs-bgcolor: #DEE0DD;

@color-light-grey: #dadada;

@color-link-dark: #02a;

@table-even-bg: #F2F7EC;

// misc.

@border-radius-default: 5px;
@border-radius-menu: 5px 5px 0 0;
@portal-box-shadow: 0 0 3px #A0A0A0;
@ucnk-topbar-left-margin: 30px;

// forms

@input-border-style: solid 1px @color-light-grey;
@input-border-radius: 3px;
@color-frame-fieldset: #DBE2D9;

// sizes

@close-button-size: 1.1em;
@navig-icon-size: 1em;

// tables

@color-table-odd-row-bg: #F7FBF3;
@color-data-table-footer: #DCEDD0;


// widgets
@color-widget-orange: #F76B0B;

// buttons

@color-button-default: #F0FAFF;
@color-button-hover: #F9FDFF;


#label-design() {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  background-color: @color-bg-light-blue;
  border-style: solid;
  border-color: #b0e1f3;
  border-width: 1px;
  border-radius: @border-radius-default;
  margin-right: 0.4em;
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.default-button-tpl {
    font-size: 1em;
    color: @color-white-text;
    text-decoration: none;
    padding: 0.3em 0.7em;
    background-color: @color-logo-blue;
    border-radius: 0.2em;
    border: 1px solid @color-logo-blue;
    box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 0.2);
}

.danger-button-tpl {
    .default-button-tpl();
    background-color: @color-logo-pink;
    border: 1px solid @color-logo-pink;
}

.util-button() {
    display: inline-block;
    border: 1px solid @color-logo-blue;
    border-radius: @input-border-radius;
    background-color: @color-button-default;
    text-decoration: none;
    padding: 3px 8px;
    color: @color-logo-blue;
    box-shadow: 0px 1px 2px rgba(150, 150, 150, 0.9), inset 0px 0px 2px rgba(215, 215, 215, 0.2);
    cursor: default;
}

.disabled-util-button() {
    display: inline-block;
    border: 1px solid @color-superlight-text;
    border-radius: @input-border-radius;
    background-color: #ffffff;
    text-decoration: none;
    padding: 3px 8px;
    color: @color-superlight-text;
    box-shadow: 0px 1px 2px rgba(150, 150, 150, 0.9), inset 0px 0px 2px rgba(215, 215, 215, 0.2);
    cursor: default;
}


@keyframes blink {
    0% {
        color: @color-logo-pink;
    }
    50% {
        color: @color-bg-light-blue;
    }
    100% {
        color: @color-logo-pink;
    }
}

@keyframes bg-blink {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}

.ToggleSwitch {
    .toggle-img {
        a.on {
            background-image: url(../../img/toggle_on.svg);
        }

        a.off {
            background-image: url(../../img/toggle_off.svg);
        }

        a.switch-on {
            animation: switchingOn 0.1s steps(2, end);
        }

        a.switch-off {
            animation: switchingOff 0.1s steps(2, end);
        }

        @keyframes switchingOn {
            0%, 50% {
                background-image: url(../../img/toggle_off_1.svg);
            }

            50%, 100% {
                background-image: url(../../img/toggle_off_2.svg);
            }
        }

        @keyframes switchingOff {
            0%, 50% {
                background-image: url(../../img/toggle_off_2.svg);
            }

            50%, 100% {
                background-image: url(../../img/toggle_off_1.svg);
            }
        }
    }
}
