@import "./globals.less";

form.query-form {

    margin: 1.5em;
    display: flex;
    flex-direction: column;

    .primary-language,
    .AlignedCorpora .AlignedCorpBlock .form {

        > *:not(:first-child) {
            margin-top: 1em;
        }

        .query {
            max-width: 60em;
            margin-top: 2.7em;
        }

        .FilterTypeSelector {
            margin-bottom: 1.3em;
        }
    }

    .AlignedCorpBlock {

        margin-left: 2.5em;

        table.form {
            margin: 5px 10px;
        }

        .heading {

            border: 1px solid #C7E7B2;
            background-color: @color-light-frame;
            padding: 0.2em 1em;
            border-radius: @border-radius-default;
            margin: 1em 0 1em 0;

            .icons {
                float: right;

                a {
                    display: inline-block;

                    img {
                        width: 1em;
                        vertical-align: middle;
                    }
                }

                a:not(:last-child) {
                    margin-right: 0.7em;
                }

                a.make-primary img {
                    margin-bottom: 0.1em;
                }
            }

            h3 {
                display: inline-block;
                font-weight: normal;
                margin: 0;
            }
        }

        .close-button {

            float: right;
            padding: 0;
            margin-right: 0;

            img {
                display: inline-block;
                vertical-align: middle;
                width: 1em;
            }
        }
    }

    .AdvancedFormFieldset.closed,
    .AlignedCorpora.closed {
        padding-bottom: 0;

        .contents {
            margin: 0;
            padding: 0;
        }
    }

    .AdvancedFormFieldset,
    .AlignedCorpora,
    .SelectedTextTypesLite {

        padding: 0.2em 0 1.6em 0;

        h2 {
            margin: 0 0 0.4em 0;
            padding: 0.2em;
            font-size: 1.05em;
            font-weight: normal;

            .ExpandButton {
                margin-right: 0.7em;
            }

            a,
            span {
                font-weight: normal;
                color: @color-logo-blue;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        .contents {
            padding: 1.1em 1.5em;
            border-radius: 5px;
            border-color: @color-light-frame;
            border-width: 0.1em;
            border-style: solid;
        }


        .desc p {
            margin: 0 20pt;
            font-size: 80%;
            color: @color-light-text;
            background-image: url(../../img/warning-icon.svg);
            background-repeat: no-repeat;
            background-size: 1.5em 1.5em;
            line-height: 1.5;
        }

        .desc p:first-letter {
            padding-left: 17pt;
        }

        .desc a {
            color: @color-light-text;
        }
    }

    .query-options {
        .default-attr-selection .sel {
            display: flex;
            flex-direction: column;

            .tagset-summary {
                display: block;
                text-align: right;
                color: @color-light-text;
                padding-top: 0.3em;

                a {
                    color: @color-light-text;
                    display: inline-block;
                    padding-right: 0.9em;
                }
            }
        }
    }

    .AdvancedFormFieldset.query-options {

        margin-top: 1.8em;

        .ToggleSwitch {
            margin-left: 0.3em;
            font-size: 1.3em;
        }

        div.options {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            grid-row-gap: 1.5em;
            align-items: baseline;

            div.option {
                white-space: nowrap;
                margin-right: 1.3em;
                display: flex;
                align-items: center;

                label {

                    input {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }

            div.option:not(:last-of-type) {
                margin-right: 0;
            }

            div.option.disabled {
                color: @color-light-text;
            }

            div.option.custom div.option {
                grid-column-start: 1;
            }
        }
    }

    .AdvancedFormFieldsetDesc {
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.5em;

            img {
                width: 1em;
            }
        }

        .html-code {

            max-width: 40em;

            > div {
                text-align: justify;
                margin: 0.7em 1em;
            }
        }
    }

    .specify-context {

        h3 {
            font-weight: bold;
            margin-left: 0;
            margin-top: 0.7em;
            margin-bottom: 0.3em;
            font-size: 1.3em;
            letter-spacing: 0.06em;
        }

        .pos-filter {
            margin-top: 3em;

            .pos-list {
                ul {
                    padding-left: 0em;
                    list-style-type: none;

                    li {
                        margin: 0.4em 0;
                    }
                }
            }

            .ToggleSwitch {
                font-size: 1.3em;
                margin-right: 0.4em;
            }
        }

        dl.form {
            margin-bottom: 2.5em;

            dd {
                display: flex;
                align-items: center;

                .all-any-none-sel {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                }
            }

            dt:not(:first-of-type) {
                padding-top: 1em;
            }

            dt {
                font-weight: normal;
                padding-bottom: 0.3em;
            }

            .fc_lemword {
                width: 25em;
            }
        }
    }
}

div.query-form-spa {
    font-family: @default-font-family;
}

#add-searched-lang-widget {
    text-align: center;
    margin-top: 1em;
}


.within-widget {
    input {
        width: 20em;
    }
    white-space: nowrap;
}

.query-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4em;

    > textarea,
    pre.cql-input,
    > span.simple-input, input.simple-input {
        background-color: @color-white-text;
        padding: 0.5em 0.3em 0.3em 0.3em;
        border-style: solid;
        border-width: 0.05em;
        border-color: @color-light-frame;
        border-radius: 0.2em;
        display: block;
        box-sizing: border-box;
        width: 100%;
        min-width: 40em;
    }

    > textarea:hover, > textarea:focus,
    pre.cql-input:hover, pre.cql-input:focus,
    > span.simple-input:hover, input.simple-input:hover,
    > span.simple-input:focus, input.simple-input:focus {
        box-shadow: 0 0 0 0.05em @color-light-frame;
    }

    pre.cql-input {

        font-size: 1.3em;
        min-height: 5em;
        overflow: hidden;
        resize: vertical;
        padding: 0.5em 0.3em 0.3em 0.3em;

        .sh-regexp {
            color: #920040;
        }

        .sh-attr {
            color: @color-logo-pink;
        }

        .sh-keyword {
            color: #48872b;
        }

        .sh-operator {
            color: #005d83;
        }

        .sh-error {
            padding-left: 0.4em;
            padding-right: 0.4em;
            color: #FFFFFF;
            background-color: @color-logo-pink;
        }

        .sh-value-warning {
            text-decoration: underline;
        }

        .sh-value-clickable {
            text-decoration: none;
            background-color: #e1e5f6;
        }

        .sh-value-clickable:hover {
            color: @color-logo-blue;
            text-decoration: underline;
        }
    }

    > span.simple-input {
        font-size: 1.4em;
        padding: 0.5em 0.3em 0.5em 0.3em;

        a.sh-sugg {
            text-decoration: none;
            background-color: #CCE8F4;
            text-decoration-color: @color-logo-blue-shining;
            color: @color-default-text;
            background-image: url('../../img/token_highlight.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - .25em) 0.2em;
            background-size: 0.34em;
            padding-right: 1em;
            padding-left: 0.2em;
        }

        a.sh-sugg:hover {
            color: @color-logo-blue;
            text-decoration: underline;
        }

        a.sh-modified {
            text-decoration: none;
            background-color: #F9CFE6;
            color: @color-default-text;
            background-image: url('../../img/config-icon-pink.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - .2em) 0.2em;
            background-size: 0.6em;
            padding-right: 1em;
            padding-left: 0.2em;
        }
    }

    textarea {
        margin: 0;
        resize: vertical;
        font-family: @monospace-font-family;
    }

    .QueryHints {
        white-space: initial;
        padding: 0.3em 0.7em;
        margin-top: 0.7em;
        background-color: #f9f9f9;
        border-style: solid;
        border-color: #fefefe;
        border-width: 0.15em;
        border-radius: 0.2em;
        color: @color-light-text;
        font-size: 0.9em;
        max-width: 50em;
        line-height: 1.5;

        .tip {
            text-transform: uppercase;
            color: @color-logo-blue;
            font-weight: bold;
            padding-right: 0.7em;
        }

        .highlight {
            font-weight: bold;
        }

        > * {
            display: inline;
        }

        .next-hint {
            padding-left: 0.7em;
        }

        .next-hint a {
            color: @color-logo-blue;
            text-decoration: none;
        }

        .next-hint a:hover {
            color: @color-logo-blue;
        }
    }

    .cql-editor-messages {
        padding: 0.3em;

        .cql-editor-message {
            color: @color-logo-pink;
            border-radius: @input-border-radius;
        }
    }
}


.query-toolbox {

    > ul {
        list-style-type: none;
        margin: 0;
        padding: 0.1em 0;
        background-color: @color-section-bg;
        color: @color-light-text;
        display: flex;
        align-items: center;

        li {
            margin: 0.3em 0.55em;

            .notifications {
                color: @color-logo-pink;
                padding-left: 0.2em;
            }
        }

        li:not(:last-child) {
            border-style: solid;
            border-color: @color-logo-blue;
            border-width: 0 1px 0 0;
            padding-right: 1em;
        }

        li:first-child:before {
            content: none;
        }

        li .hint strong {
            font-size: 100%;
            font-weight: normal;
            padding: 0;
            border: 1px solid @color-light-grey;
            border-style: @border-radius-default;
        }

        li a,
        li label {
            background-color: transparent;
            color: @color-logo-blue;
            text-decoration: none;
        }

        li a:hover {
            color: @color-logo-blue;
            text-decoration: underline;
        }

        a.highlighted {
            color: @color-logo-pink;
            font-weight: normal;
        }

        a.highlighted::after {
            content: " \25C0 ";
        }
    }
}

table.radio-like-sel {
    font-size: 0.9em;
    border-spacing: 0.2em 1em;

    td {
        border: 1px solid @color-light-text;
        padding: 0;

        a {
            display: block;
            padding: 0.3em 0.6em;
            text-decoration: none;
            color: @color-logo-blue;
            text-align: center;
        }
    }

    td:hover {
        background-color: @color-logo-blue;
        a {
            color: #ffffff;
        }
    }

    td.selected {
        background-color: @color-logo-pink;
        a {
            color: #ffffff;
        }
    }
}


.virtual-keyboard-buttons {

    .layout-selection {
        display: block;
        margin-bottom: 0.7em;

        h3 {
            display: inline-block;
            margin-right: 0.7em;
        }

    }

    .key-row {

        display: block;
        white-space: nowrap;
        margin-bottom: 0.3em;
        text-align: center;

        .dummy, button {
            display: inline-block;
            margin-left: 0.2em;
            padding: 0.1em 0.3em;
            text-align: center;
            border-radius: @input-border-radius;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.5em;
            border: none;
        }

        .space {
            width: 10em;
        }

        .caps,
        .backspace {
            width: 3em;
        }

        .spec {
            font-weight: bold;
            padding-left: 0.3em;
            padding-right: 0.3em;
            background-color: @color-logo-blue;
        }

        .spec.active,
        button.active {
            background-color: @color-logo-pink;
        }

        .dummy {
            background-color: @color-light-text;
            color: @color-light-green;
            opacity: 0.4;
            padding-left: 0.3em;
            padding-right: 0.3em;
            cursor: default;
        }

        button {
            width: 1.5em;
            background-color: @color-logo-blue-opaque;
            color: #fefefe;
        }
    }
}

.QueryStructureWidget {

    table.positions {
        border-collapse: separate;
        border-spacing: 0;

        tr.interpretation {

            background-color: #FFFFFF;

            td {
                border-style: solid;
                border-color: @color-light-frame;
                border-width: 1px 1px 1px 0;
                vertical-align: middle;

                > div {
                    padding: 0.9em 0.3em;
                    text-align: center;

                    .attr {
                        font-weight: bold;
                    }

                    .value {
                        font-size: 1.3em;
                    }
                }

                > .operator {

                    padding: 0;

                    span {
                        display: inline-block;
                        padding: 0.2em 0.4em;
                        margin-top: 0.5em;
                        margin-bottom: 0.5em;
                        color: @color-logo-orange;
                        font-size: 0.9em;
                        font-weight: bold;
                    }
                }
            }

            td:last-child {
                border-right-width: 1px;
                border-radius: 0 5px 5px 0;
            }

            td:first-child {
                border-left-width: 1px;
                border-radius: 5px 0 0 5px;
            }
        }

        td.position:last-child {

            border: none;

            div {
                margin-right: 0.4em;
            }
        }

        td.text {
            padding: 1em 0 1em 0;
        }

        tr.token {

            background-color: #FFFFFF;

            td {
                border-style: solid;
                border-color: @color-light-frame;
                border-width: 1px 0 1px 0;
                padding-top: 0.3em;
                padding-bottom: 0.3em;
                text-align: center;
            }

            td:first-child {
                border-radius: 5px 0 0 5px;
                border-width: 1px 0 1px 1px;
            }

            td:last-child {
                border-radius: 0 0.3em 0.3em 0;
                border-width: 1px 1px 1px 0;
            }
        }
    }

    .buttons {

        margin-top: 2em;

        button:not(:last-child) {
            margin-right: 1em;
        }
    }

    .empty {
        display: flex;
        align-items: center;

        > :first-child {
            margin-right: 0.4em;
        }

        img {
            width: 1.5em;
        }
    }

}

.QueryHelp #modal-overlay {

    h2::first-letter {
        text-transform: capitalize;
    }

    h3 {
        color: @color-default-text;
        margin: 0.5em 0 0.5em 0;
    }

    ul.tagset-links {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: 0;

            dl {
                padding: 0;

                .attr {
                    color: @color-logo-pink;
                }

                dt {
                    padding: 0.3em;
                    display: inline-block;
                }

                dd {
                    display: inline-block;
                    margin-inline-start: 0.1em;
                }

                dd::after {
                    content: "\a";
                    white-space: pre;
                }
            }
        }
    }
}