@import "./globals.less";

// used in text types

.TextTypesPanel {

    .grid {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.4em 0.7em;

        .TableTextTypeAttribute {

            background-color: #FFFFFF;
            border: solid 1px @color-light-frame;
            border-radius: @border-radius-default;
            margin: 0;
            padding: 0;
            width: 100%;
            display: inline-block;

            > div {
                margin: 0;
            }

            > .range, > .data-rows {
                padding-top: 0.4em;
                padding-left: 1em;
            }

            .textTypes_RawInputContainer {
                padding-top: 0.7em;
                padding-bottom: 0.7em;
            }

            div.attrib-name {

                background-color: @color-data-table-footer;
                display: flex;
                flex-direction: row;
                align-items: center;

                h3 {
                    padding: 0.6em 1em;
                    margin: 0;
                    flex-grow: 1;

                    .ajax-loader {
                        margin-left: .7em;
                    }

                    span.info-link {

                        font-size: 0.9em;
                        color: @color-light-text;

                        a {
                            font-weight: normal;
                            background-image: url('../../img/external-link.png');
                            background-repeat: no-repeat;
                            background-position: 100% 0;
                            padding-right: 12px;
                            color: @color-light-text;
                            text-decoration: none;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }

                h3.focused {
                    color: @color-logo-pink;
                }

                .textTypes_TextTypeAttributeMinIcon {

                    flex-basis: auto;
                    padding: 0.3em 1em;

                    a {
                        vertical-align: middle;
                        display: inline-block;

                        img {
                            width: 1em;
                        }
                    }
                }
            }

            div.last-line {
                background-color: @color-data-table-footer;
                padding: 0.4em;
                overflow: hidden;

                label.select-all {
                    color: @color-logo-blue;
                }

                .select-mode {
                    float: right;
                }
            }

            table.FullListContainer {
                border-spacing: 0;

                td, th {
                    padding: 0.4em 1em;
                }

                td:first-child {
                    padding-left: 0;
                }

                td input[type='checkbox'] {
                    vertical-align: middle;
                }

                label {
                    max-width: 20em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    white-space: nowrap;
                }
            }

            input[type="text"] {
                width: 15em;
            }

            .extended-info {
                width: 1.4em;
                height: 1.4em;
            }

            .ValueSelector {
                display: block;
                overflow-x: hidden;
                overflow-y: auto;
                width: 100%;
                max-height: 300px;
            }

            .excluded {
                display: none;
            }

            .ValueSelector ul.auto-complete {
                position: absolute;
                list-style-type: none;
                max-height: 15em;
                overflow-y: auto;
                overflow-x: hidden;
                margin: 0;
                padding: 0;
                background-color: #FFFFFF;
                box-shadow: @portal-box-shadow;
                border: 1px solid @color-default-green;

                li {
                    padding: 0.3em 0.7em;
                    margin: 0;

                    a {
                        text-decoration: none;
                    }
                }
            }

            .metadata {
                font-size: 80%;
                color: @color-light-text;
                text-align: center;
            }


            .range-selector {
                padding: 5px 8px 5px 12px;

                div {
                    padding: 0.3em 0;
                }

                h3 {
                    margin: 1em 0;
                }

                label.date {
                    font-weight: bold;
                }

                div.interval-switch select {
                    display: iinline-block;
                    vertical-align: middle;
                }

                div.interval-switch .label {
                    display: inline-block;
                    vertical-align: middle;
                }

                .confirm-range {
                    margin-top: 1em;
                }
            }

            .define-range {
                color: @color-logo-blue;
                text-align: center;
            }


            .TableTextTypeAttribute.locked .define-range {
                a {
                    color: @color-light-text;
                }

                a.locked,
                a.locked:hover {
                    color: @color-light-text;
                    text-decoration: line-through;
                    cursor: default;
                    background-color: transparent;
                }
            }

            .CalendarDaysSelector {

                .calendars {
                    display: flex;
                    margin-bottom: 0.7em;

                    > div:not(:first-child) {
                        margin-left: 1em;
                    }
                }

                p.info {
                    max-width: 25em;
                    font-size: 0.9em;
                    padding-right: 1em;
                }
            }
        }

        .TableTextTypeAttribute.aligned {

            div {
                input[type="checkbox"] {
                    padding-left: 1em;
                }
            }

            .note {
                p {
                    max-width: 17em;
                    padding: 0;
                    margin: 0.4em 0 0 0;
                }
                color: @color-light-text;
                white-space: normal;
                font-size: 0.8em;
                padding: 0.4em 1em;
            }
        }

        .TableTextTypeAttribute.locked {
            border: 1px solid @locked-attrs-bgcolor;

            > .attrib-name {
                background-color: @locked-attrs-bgcolor;
            }

            > .last-line {
                background-color: @locked-attrs-bgcolor;
            }
        }

        a.bib-info, a.bib-warn {
            display: inline-block;
            text-align: center;
            width: 0.8em;
            font-family: serif;
            font-size: 1em;
            font-weight: bold;
            border-radius: 2px;
            text-decoration: none;
        }

        a.bib-info {
            color: #FFFFFF;
            background-color: @color-logo-blue;
            border: 1px solid @color-logo-blue;
        }

        a.bib-info:hover {
            color: @color-logo-blue;
            background-color: #FFFFFF;
        }

        a.bib-warn {
            color: #FFFFFF;
            background-color: @color-logo-orange;
            border: 1px solid @color-logo-orange;
        }
    }
}