# IDEs and editors
.idea/
**/*.sublime-project
**/*.sublime-workspace
*.*~
**/tsconfig.json
public/files/.settings

# local development 
doc/
log/
tmp/
*.db
lib/plugins/devel_*
node_modules/

# default app installation
venv/
conf/*
!conf/config.sample.xml
!conf/main-menu.sample.json
public/files/.vscode/
public/files/js/min
public/files/js/compiled
public/files/js/optimized
public/files/css/kontext.min.css
cmpltmpl/*
!cmpltmpl/__init__.py
public/files/themes/*
!public/files/themes/default

# other
*.pyc
.tscache
**/.baseDir.ts
tscommand*.txt
