# IDEs and editors
.idea/
**/*.sublime-project
**/*.sublime-workspace
*.*~
public/files/.settings

# local development
log/
tmp/
*.db
lib/plugins/devel_*
node_modules/

# default app installation
venv/
conf/*
!conf/config.default.xml
!conf/gunicorn-conf.sample.py
!conf/main-menu.sample.json
public/files/.vscode/
public/files/dist
public/files/js/.compiled
public/files/themes/*
!public/files/themes/default
!public/files/themes/lindat

# other
*.pyc
.tscache
**/.baseDir.ts
tscommand*.txt

Dockerfile
