# to install all the KonText dependencies use command
# pip install -r requirements.txt
#
# for more convenient logging, install concurrent_log_handler
jinja2 >= 2.11.3
Werkzeug >= 1.0.1, < 2.0.0
secure-cookie >= 0.1.0
# please note that lxml package requires the following system packages:
# libxml2-dev, libxslt-dev, python-dev
lxml >= 3.4
Markdown >= 3.3.6
openpyxl >= 3.05
redis >= 3.5.3
rejson >= 0.5.6
PyICU >= 1.5
babel >= 2.9.1
mysql-connector-python >= 8.0.28
dataclasses-json >= 0.5.6
couchdb >= 1.2
cairosvg >= 2.5.2

rq-scheduler >= 0.11.0
rq >= 1.10.1

sox>=1.4.1
