# to install all the KonText dependencies use command
# pip install -r requirements.txt
#
# for more convenient logging, install concurrent_log_handler
jinja2 >= 2.11.3
Werkzeug >= 1.0.1, < 2.0.0
secure-cookie >= 0.1.0
# please note that lxml package requires the following system packages:
# libxml2-dev, libxslt-dev, python-dev
lxml >= 3.4
Markdown >= 2.5
openpyxl >= 2.1
redis >= 2.10
rejson >= 0.5.3
PyICU >= 1.5
attrs >= 19.3.0
babel >= 2.8.0
mysql-connector-python >= 8.0.25

rq-scheduler >= 0.10.0
rq >= 1.5.1

pydub>=0.25.1
