#*
Copyright (c) 2017 Charles University in Prague, Faculty of Arts,
                   Institute of the Czech National Corpus
Copyright (c) 2017 Tomas Machalek <tomas.machalek@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.util.tt import tt
#extends tt
#from templating.filters import *

#def title
KonText - $corpname - $_("Create Subcorpus")#slurp
#end def

#def bodyonload

require(['${client_model_dir}/${page_model}', 'conf'], function(pageSelf, conf) {
    conf.structsAndAttrs = $to_json($structs_and_attrs);
    conf.currentWithinJson = $to_json($within_data);
    conf.textTypesData = $text_types_data;
    conf.HasSubcmixer = $to_json($has_subcmixer);
    conf.CorpusIdAttr = $to_json($id_attr);
    pageSelf.init(conf);
});

#end def

#def main
#filter WebSafe
<section>
<h2>$_('New subcorpus')</h2>
    <div id="subcorp-form-mount"></div>
</section>

#end filter
#end def
