#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.util.tt import tt
#extends tt
#from templating.filters import *

#def title
$_("Create Subcorpus")#slurp
#end def

#def bodyonload

require(['${client_model_dir}/${page_model}', 'conf'], function(pageSelf, conf) {
    conf.subcmixerFormData = #filter $Jsonize#$subcmixer_form_data#end filter#;
    conf.structsAndAttrs = #filter $Jsonize#$structs_and_attrs#end filter#;
    conf.currentWithinJson = #if $within_json#$within_json#else#''#end if#;
    conf.textTypesData = $text_types_data;
    pageSelf.init(conf);
});

#end def

#def main
#filter WebSafe
<section>
<h2>$_('New subcorpus')</h2>
    <form id="subcorp-form" action="subcorp" method="POST">
        <table class="form">
        #filter None
        $corp_sel_node
        #end filter
        <tbody>
        <tr class="required">
        <th style="width: 20%">$_("New subcorpus name"):</th>
        <td style="width: 80%"><input type="text" name="subcname" id="subcname" value="$subcname" /></td>
        </tr>
        <tr>
            <th>$_('Specify subcorpus using'):</th>
            <td>
                <input id="method-raw-input" class="method-select" type="radio" name="method" value="raw" #if $method == 'raw'#checked="yes"#end if# /><label for="method-raw-input">$_('Custom \'within\' condition')</label>
                <input id="method-gui-input" class="method-select" type="radio" name="method" value="gui" #if $method == 'gui'#checked="yes"#end if# /><label for="method-gui-input">$_('Attribute list')</label>
                #if $has_subcmixer
                <input id="method-type-mixer" class="method-select" type="radio" name="method" value="mixer" #if $method == 'mixer'#checked="yes"#end if# /><label for="method-type-mixer">$_('Custom text types proportions')</label>
                #end if
            </td>
        </tr>
        <tr id="subc-within-row" style="display: none">
            <th>$_('Custom \'within\' condition')
                <a id="custom-within-hint" class="context-help">
                    <img class="over-img"
                         data-alt-img="${files_path}/img/question-mark_s.svg" src="${files_path}/img/question-mark.svg">
                </a>:
                <input id="within-json-field" type="hidden" name="within_json" />
            </th>
            <td class="container"></td>
        </tr>
        <tr id="subc-mixer-row" style="display: none">
            <th></th>
            <td class="widget"></td>
        </tr>
        </tbody>
        </table>
        <input type="hidden" name="create" value="1" />

        <div id="subcorp-text-type-selection"></div>

        <div class="buttons">
        <input class="default-button" type="submit" value="$_("Create Subcorpus")" />
        </div>
    </form>
</section>

#end filter
#end def
