#*
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#from templating.filters import Datetime
#from templating.filters import Bool2Num

#def title
$_("List of my subcorpora")#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function(pageSelf, conf) {
    pageSelf.init(conf);
});
#end def


#def main
<section class="my-subcorpora">
    <h2>$_('My subcorpora')</h2>
    <form id="mainform" action="${root_url}subcorpus/subcorp_list" method="POST">
        #filter None
        <div id="corpus-selection" style="display:none">
        $corp_sel_node
        </div>
        #end filter
        <table class="data" border="0">
            <thead>
                <tr>
                    <th><a href="${root_url}subcorpus/subcorp_list?$q;$globals&sort=$sort_keys.n[0]">$_('name') #filter None#$sort_keys.n[1]#end filter#</a></th>
                    <th><a href="${root_url}subcorpus/subcorp_list?$q;$globals&sort=$sort_keys.size[0]">$_('size') ($_('positions')) #filter None#$sort_keys.size[1]#end filter#</a></th>
                    <th><a href="${root_url}subcorpus/subcorp_list?$q;$globals&sort=$sort_keys.created[0]">$_('created') #filter None#$sort_keys.created[1]#end filter#</a></th>
                    <th>$_('status')</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            #for $item in $subcorp_list
            <tr>
                <td>
                  #if not $item.deleted
                  <a href="${root_url}first_form?corpname=$item.corpname&usesubcorp=$item.usesubcorp" title="$_('Search in the corpus')">
                  #end if
                  $item.n
                  #if not $item.deleted
                  </a>
                  #end if
                </td>
                <td class="num">$format_number($item.size, mask='%d')</td>
                <td>#filter $Datetime#$item.created#end filter#</td>
                <td data-query="$item.cql">
                #set $states = []
                #if $item.deleted# $states.append('<span class="deleted">' + $_('deleted') + '</span>') #end if#
                #if $item.cql# $states.append($_('backed up')) #end if#
                #if $len($states) == 0
                  $states.append($_('active'))
                #end if
                #set $states = ', '.join($states)
                #filter None# $states #end filter#
                </td>
                <td>
                  <a class="subc-actions"
                     data-deleted="#filter $Bool2Num#$item.deleted#end filter#"
                     data-cql="$item.cql"
                     data-subcname="$item.usesubcorp"
                     data-corpname="$item.corpname"
                     data-human_corpname="$item.human_corpname">$_('actions')</a>
                </td>
                <td>
                    #if not $item.deleted
                    <input class="selected-subc" type="checkbox" name="selected_subc" value="$item.internal_n" />
                    #end if
                </td>
            </tr>
            #end for
            </tbody>
        </table>
        <label class="show-deleted">$_('Show also deleted items') <input type="checkbox" class="show-deleted" #if $show_deleted#checked="checked"#end if# /></label>
        <p>
            <button type="submit" class="default-button delete-selected"
                    name="action" value="delete" style="display:none">$_('Delete selected')</button>
        </p>
    </form>
</section>

#end def