#*
Copyright (c) 2017 Charles University in Prague, Faculty of Arts,
                   Institute of the Czech National Corpus
Copyright (c) 2017 Tomas Machalek <tomas.machalek@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document

#extends document

#def title
KonText - $corpname - $_("Create Subcorpus")#slurp
#end def

#def bodyonload
__conf.textTypesData = $to_json($text_types_data);
__conf.SelectedTextTypes = $to_json($selected_text_types);
__conf.HasSubcmixer = $to_json($has_subcmixer);
__conf.CorpusIdAttr = $to_json($id_attr);
__conf.Method = $to_json($method);
__conf.AlignedCorpora = $to_json($aligned_corpora);
subcorpFormPage.init(__conf);
#end def

#def main
#filter WebSafe
<section>
<h2>$_('New subcorpus')</h2>
    <div id="subcorp-form-mount"></div>
</section>

#end filter
#end def
