#*
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
KonText - $_("List of my subcorpora")#slurp
#end def

#def bodyonload
__conf.SubcorpList = $to_json($subcorp_list);
__conf.ProcessedSubcorpora = $to_json($processed_subc);
__conf.SortKey = $to_json($sort_key);
__conf.RelatedCorpora = $to_json($related_corpora);
__conf.Filter = $to_json($filter);
__conf.UsesSubcRestore = $to_json($uses_subc_restore);
subcorpListPage.init(__conf);
#end def

#def main
<section id="my-subcorpora">
    <h2>$_('My subcorpora')</h2>
    <div id="my-subcorpora-mount"></di>
</section>
#end def