#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from templating.filters import *
#from cmpltmpl.document import document
#extends document

#def title
$_("View")#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function (viewAttrs, conf) {
    conf.AttrList = $to_json($AttrList);
    conf.FixedAttr = $to_json($fixed_attr);
    conf.CurrentAttrs = $to_json($CurrentAttrs);
    conf.Availstructs = $to_json($Availstructs);
    conf.StructAttrs = $to_json($structattrs);
    conf.CurrStructAttrs = $to_json($curr_structattrs);
    conf.AvailRefs = $to_json($Availrefs);
    conf.AttrAllpos = $to_json($attr_allpos);
    conf.AttrVmode = $to_json($attr_vmode);
    viewAttrs.init(conf);
});
#end def

#def main
<section class="full">
    <h2>$_("Attributes, structures and references")</h2>
    <div id="viewattrs-mount"></div>
</section>
#end def
