#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from templating.filters import *
#from cmpltmpl.document import document
#extends document

#def title
$_("View")#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function (viewAttrs, conf) {
    conf.AttrList = #filter $Jsonize#$AttrList#end filter#;
    conf.FixedAttr = "${fixed_attr}";
    conf.CurrentAttrs = #filter $Jsonize#$attrs.split(',')#end filter#;
    conf.Availstructs = #filter $Jsonize#$Availstructs#end filter#;
    conf.StructAttrs = #filter $Jsonize#$structattrs#end filter#;
    conf.CurrStructAttrs = #filter $Jsonize#$curr_structattrs#end filter#;
    viewAttrs.init(conf);
});
#end def

#def main
<section class="full">
    #filter WebSafe
    <h2>$_("Attributes, structures and references")</h2>
    <p>#filter None#$($_('Following settings apply only for the <strong>%s</strong> corpus.') % $human_corpname)#end filter#</p>

    <div id="viewattrs-mount"></div>

    <form id="mainformxxx" action="${root_url}options/viewattrsx">

    #filter None
    $input_hidden
    #end filter
    <input type='hidden' name='fromp' value='$fromp' />


    <a name="references"></a>
    <fieldset class="settings-group">
        <legend>$_("References")</legend>

        #set $i = 0
        #for $a in $Availrefs
            #set $checked = ($a.sel) and 'checked="checked"' or ''
            <input id="ref-item-$i" type="checkbox" name="setrefs" value='$a.n' $checked>
            <label for="ref-item-$i">$a.label</label><br />
            #set $i = $i + 1
        #end for
        <label class="select-all"><input class="select-all" type="checkbox" />$_('Select all')</label>
    </fieldset>

    <div class="buttons">
        <input type="submit" class="default-button" value='$_("Apply View Options")' />
    </div>
    </form>
    #end filter
</section>
#end def
