{% macro add_diagnostics(code, details, msg) %}
    <sru:diagnostics xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/">
        <diag:diagnostic>
            <diag:uri>info:srw/diagnostic/1/{{ code }}</diag:uri>
            <diag:details>{{ details }}</diag:details>
            <diag:message>{{ msg }}</diag:message>
        </diag:diagnostic>
    </sru:diagnostics>
{%- endmacro -%}
<?xml version='1.0' encoding='utf-8'?>
<?xml-stylesheet href="{{ root_url }}/fcs/fcs2html" type="text/xsl"?>
{% if operation == 'explain' %}
<sru:explainResponse xmlns:sru="http://www.loc.gov/zing/srw/">
    <sru:version>{{ version }}</sru:version>
    <sru:record>
        {% if code is not defined %}
        <sru:recordSchema>http://explain.z3950.org/dtd/2.0/</sru:recordSchema>
        <sru:recordPacking>{{ recordPacking }}</sru:recordPacking>
        <sru:recordData>
            <zr:explain xmlns:zr="http://explain.z3950.org/dtd/2.0/">
                <zr:serverInfo protocol="SRU" version="1.2" transport="http">
                    <zr:host>{{ server_name }}</zr:host>
                    <zr:port>{{ server_port }}</zr:port>
                    <zr:database>{{ database }}</zr:database>
                    </zr:serverInfo>
                <zr:databaseInfo>
                    <zr:title lang="en" primary="true">{{ corpname }}</zr:title>
                    <zr:description lang="en" primary="true">{{ corpus_desc }}</zr:description>
                </zr:databaseInfo>
                <zr:schemaInfo>
                    <zr:schema identifier="http://clarin.eu/fcs/resource" name="fcs">
                        <zr:title lang="en" primary="true">CLARIN Content Search</zr:title>
                    </zr:schema>
                </zr:schemaInfo>
                <zr:indexInfo>
                    <zr:set identifier="http://clarin.eu/fcs/resource" name="fcs">
                        <zr:title lang="de">CLARIN Content Search</zr:title>
                        <zr:title lang="en" primary="true">CLARIN Content Search</zr:title>
                    </zr:set>
                    {% for title in result %}
                     <zr:index search="true" scan="true" sort="true">
                        <zr:title lang="en" primary="true">{{ title }}</zr:title>
                        <zr:map primary="true">
                            <zr:name>{{ title }}</zr:name>
                        </zr:map>
                    </zr:index>
                    {% endfor %}
                </zr:indexInfo>
                <zr:configInfo>
                    <zr:setting type="maximumRecords">{{ maximumRecords }}</zr:setting>
                    <zr:default type="maximumTerms">{{ maximumTerms }}</zr:default>
                </zr:configInfo>
            </zr:explain>
        </sru:recordData>
        {% endif %}
    </sru:record>
    {% if show_endpoint_desc|default(false, true) %}
    <sru:extraResponseData>
        <ed:EndpointDescription xmlns:ed="http://clarin.eu/fcs/endpoint-description" version="1">
            <ed:Capabilities>
                <ed:Capability>http://clarin.eu/fcs/capability/basic-search</ed:Capability>
            </ed:Capabilities>
            <ed:SupportedDataViews>
                <ed:SupportedDataView id="hits" delivery-policy="send-by-default">application/x-clarin-fcs-hits+xml</ed:SupportedDataView>
            </ed:SupportedDataViews>
            <ed:Resources>
                <ed:Resource pid="http://hdl.handle.net/4711/0815">
                    <ed:Title xml:lang="en">{{ corpus_desc }}</ed:Title>
                    <ed:Languages>
                        <ed:Language>{{ corpus_lang|default('', true) }}</ed:Language>
                    </ed:Languages>
                    <ed:AvailableDataViews ref="hits"/>
                </ed:Resource>
            </ed:Resources>
        </ed:EndpointDescription>
    </sru:extraResponseData>
    {% endif %}
    {% if code is defined %}
    {{ add_diagnostics(code, details, msg) }}
    {% endif %}
</sru:explainResponse>
{% elif operation == 'scan' %}
<sru:scanResponse xmlns:sru="http://www.loc.gov/zing/srw/">
    <sru:version>{{ version }}</sru:version>
    {% if code is not defined and result %}
    <sru:terms>
        {% for value, displayTerm, resourceInfo in result %}
            <sru:term>
                <sru:value>{{ value }}</sru:value>
                <sru:displayTerm>{{ displayTerm }}</sru:displayTerm>
                {% if resourceInfoRequest %}
                <sru:extraTermData>
                    <ResourceInfo xmlns="http://clarin.eu/fcs/1.0/resource-info" hasSubResources="false">
                        <Title xml:lang="en">{{ resourceInfo.title }}</Title>
                        {% if resourceInfo.description %}
                        <Description xml:lang="en">{{ resourceInfo.description }}</Description>
                        {% endif %}
                        {% if resourceInfo.landingPageURI %}
                        <LandingPageURI>{{ resourceInfo.landingPageURI }}</LandingPageURI>
                        {% endif %}
                        <Languages>
                            <Language>{{ resourceInfo.language }}</Language>
                        </Languages>
                    </ResourceInfo>
                </sru:extraTermData>
                {% endif %}
            </sru:term>
        {% endfor %}
    </sru:terms>
    {% endif %}
    {% if code is defined %}
    {{ add_diagnostics(code, details, msg) }}
    {% endif %}
</sru:scanResponse>
{% elif operation == 'searchRetrieve' %}
<sru:searchRetrieveResponse xmlns:sru="http://www.loc.gov/zing/srw/">
    <sru:version>{{ version }}</sru:version>
    <sru:numberOfRecords>{{ numberOfRecords }}</sru:numberOfRecords>
    {% if code is not defined and numberOfRecords > 0 %}
    <sru:records>
        {% for left, word, right, ref in result %}
        <sru:record>
            <sru:recordSchema>http://clarin.eu/fcs/resource</sru:recordSchema>
            <sru:recordPacking>{{ recordPacking }}</sru:recordPacking>
            <sru:recordData>
                <fcs:Resource xmlns:fcs="http://clarin.eu/fcs/resource" pid="{{ corppid }}" ref="{{ corpname }}">
                    <fcs:DataView type="application/x-clarin-fcs-hits+xml">
                        <hits:Result xmlns:hits="http://clarin.eu/fcs/dataview/hits">
                            {{ left|xmle }}<hits:Hit>{{ word|xmle }}</hits:Hit> {{ right|xmle }}
                        </hits:Result>
                    </fcs:DataView>
                </fcs:Resource>
            </sru:recordData>
        </sru:record>
        {% endfor %}
    </sru:records>
    {% endif %}
    {% if code is defined %}
    {{ add_diagnostics(code, details, msg) }}
    {% endif %}
</sru:searchRetrieveResponse>
{% endif %}
