#*
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#encoding UTF-8
#from cmpltmpl.document import document
#extends document

#def title
$_("Collocation profiles")#slurp
#end def

#def bodyonload
#end def

#def headers
<link rel="stylesheet" type="text/css" href="$files_path/css/${css_prefix}colloc.css" />
#end def

#def left_submenu_help
#end def

#def left_submenu_expert

#end def

#def main
<h3>$_('Collocation profiles')</h3>
<form id="mainform" action="collocation_profiles" method="GET">
    #filter None
    $input_hidden
    #end filter
    <fieldset>
        <legend>$_('Analysis parameters')</legend>
        <table>
            <tr>
                <th>$_('Context range'):</th>
                <td>
                    <input type="text" name="leftctx" value="$leftctx" size="2" /> -
                    <input type="text" name="rightctx" value="$rightctx" size="2" />
                </td>
            </tr>
            <tr>
                <th>$_('Granularity'):</th>
                <td>
                    <select name="granularity">
                        <option value="high">$_('High')</option>
                        <option value="medium">$_('Medium')</option>
                        <option value="low">$_('Low')</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>$_('Confidence'):</th>
                <td>
                    <select name="confidence">
                        <option value="high">$_('High')</option>
                        <option value="low">$_('Low')</option>
                        <option value="none">$_('None')</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>$_('Clustering type'):</th>
                <td>
                    <select name="clustering">
                        <option value="unique">$_('Unique')</option>
                        <option value="multiple">$_('Multiple')</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>$_('Auto-focus'):</th>
                <td><input type="checkbox" name="auto_focus" value="1" checked="checked" /></td>
            </tr>
        </table>
    </fieldset>
    <button type="submit">$_('Analyze')</button>
</form>

#end def
