#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
$_("Collocation form")#slurp
#end def

#def main
<section>
    #filter WebSafe
    <h2>$_("Collocation candidates")</h2>

    <form class="collocations-form" action="collx">
        #filter None
        $input_hidden
        #end filter
        <input type="hidden" name="collpage" value="1" />
        <table class="form">
        <tr>
          <th>$_("Attribute"):</th>
          <td>
          <select name="cattr">
          #for $a in $Coll_attrlist
            <option value="$a.n" #if $cattr == $a.n then 'selected="selected"' else ''# >$a.label</option>
          #end for
          </select>
          </td>
        </tr>
        <tr>
          <th>$_("Collocation window span"):</th>
          <td>
            <input type="text" name="cfromw" size="3" value="$cfromw" />
            $_("to") <input type="text" name="ctow" size="3" value="$ctow" />
          </td>
        </tr>
        <tr>
          <th>$_("Minimum collocate frequency in the corpus"):</th>
          <td><input type="text" name="cminfreq" value="$cminfreq" size="4" /></td>
        </tr>
        <tr>
          <th>$_("Minimum collocate frequency in the span"):</th>
          <td>
              <input type="text" name="cminbgr" value="$cminbgr" size="4"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
              <fieldset class="colloc-metrics">
                <legend>$_("Show measures")</legend>
                    <table>
                      <tbody>
                          <tr>
                            <td><label for="cbgrfns_t">$_("T-score")</label></td>
                            <td><input id="cbgrfns_t" type="checkbox" name="cbgrfns" value="t" #if 't' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                            <td><label for="cbgrfns_m">$_("MI")</label></td>
                            <td><input id="cbgrfns_m" type="checkbox" name="cbgrfns" value="m" #if 'm' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                            <td><label for="cbgrfns_3">$_("MI3")</label></td>
                            <td><input id="cbgrfns_3" type="checkbox" name="cbgrfns" value="3" #if '3' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                            <td><label for="cbgrfns_l">$_("log likelihood")</label></td>
                            <td><input id="cbgrfns_l" type="checkbox" name="cbgrfns" value="l" #if 'l' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                            <td><label for="cbgrfns_s">$_("min. sensitivity")</label></td>
                            <td><input id="cbgrfns_s" type="checkbox" name="cbgrfns" value="s" #if 's' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="cbgrfns_d">$_("logDice")</label></td>
                              <td><input id="cbgrfns_d" type="checkbox" name="cbgrfns" value="d" #if 'd' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                            <td><label for="cbgrfns_p">$_("MI.log_f")</label></td>
                            <td><input id="cbgrfns_p" type="checkbox" name="cbgrfns" value="p" #if 'p' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                            <td><label for="cbgrfns_r">$_("relative freq.")<label></td>
                            <td><input id="cbgrfns_r" type="checkbox" name="cbgrfns" value="r" #if 'r' in $cbgrfns then 'checked="checked"' else ''# /></td>
                          </tr>
                      </tbody>
                    </table>
              </fieldset>
              <fieldset class="colloc-metrics">
                <legend>$_("Sort by")</legend>
                    <table>
                      <tbody>
                          <tr>
                              <td><label for="csortfn_t">$_("T-score")</label></td>
                              <td><input id="csortfn_t" name="csortfn" type="radio" value="t" #if $csortfn == 't' then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="csortfn_m">$_("MI")</label></td>
                              <td><input id="csortfn_m" name="csortfn" type="radio" value="m" #if $csortfn == 'm' then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="csortfn_3">$_("MI3")</label></td>
                              <td><input id="csortfn_3" name="csortfn" type="radio" value="3" #if $csortfn == '3' then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="csortfn_l">$_("log likelihood")</label></td>
                              <td><input id="csortfn_l" name="csortfn" type="radio" value="l" #if $csortfn == 'l' then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="csortfn_s">$_("min. sensitivity")</label></td>
                              <td><input id="csortfn_s" name="csortfn" type="radio" value="s" #if $csortfn == 's' then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="csortfn_d">$_("logDice")</label></td>
                              <td><input id="csortfn_d" name="csortfn" type="radio" value="d" #if $csortfn == 'd' then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="csortfn_p">$_("MI.log_f")</label></td>
                              <td><input id="csortfn_p" name="csortfn" type="radio" value="p" #if $csortfn == 'p' then 'checked="checked"' else ''# /></td>
                          </tr>
                          <tr>
                              <td><label for="csortfn_r">$_("relative freq.")</label></td>
                              <td><input id="csortfn_r" name="csortfn" type="radio" value="r" #if $csortfn == 'r' then 'checked="checked"' else ''# /></td>
                          </tr>
                      </tbody>
                    </table>
                </fieldset>
          </td>
        </tr>
        </table>

        <div class="buttons">
          <input type="submit" class="default-button" value="$_('Make Candidate List')" id="submit" />
        </div>
    </form>
    #end filter
</section>
#end def
