#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#from templating.filters import *
#extends document


#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function(pageSelf, conf) {
    conf.attrname = "$attrname";
    conf.AttrList = $to_json($getVar('AttrList', []));
    conf.CollFormArgs = $to_json($coll_form_args);
    conf.workerTasks = $to_json($getVar('tasks', []));
    var page = pageSelf.init(conf);
    #if $processing is not None
    page.startWatching();
    #end if
});
#end def


#def title
$_("Collocations")#slurp
#end def


#def main
<section>
    #filter WebSafe
    <h2>$_("Collocation candidates")</h2>

    #if $processing is not None
        <div id="progress_message">
           <div class="progress-info">
                <div>$_('calculating ...')
                    <a class="context-help" href="#"><img data-alt-img="${files_path}/img/question-mark_s.svg" src="${files_path}/img/question-mark.svg" class="over-img"></a>
                </div>
                <div id="progress_scale"><div id="processbar" style="width:$processing%;"></div></div>
            </div>
        </div>
    #else

        #block collx_navigation($navid="next")

        #set $allhref = 'collx?' + $join_params($Globals, [('cbgrfns', $cb) for $cb in $cbgrfns], [('cattr', $cattr), ('cminfreq', $cminfreq), ('cminbgr', $cminbgr), ('cfromw', $cfromw), ('ctow', $ctow), ('csortfn', $csortfn)])
        #if $collpage > 1 or not $lastpage
            <div class="bonito-pagination">
                <form action="collx">
                    <fieldset class="float">
                        #if $collpage > 1
                        <div class="bonito-pagination-left">
                            <a href="$join_params($allhref, $dict(collpage=1))"><img class="alt-img" src="${files_path}/img/first-page.svg" alt="$_("<< First")" title="$_("<< First")" data-alt-img="${files_path}/img/first-page_s.svg" /></a>
                            <a href="$join_params($allhref, $dict(collpage=int($collpage) - 1))"><img class="over-img" src="${files_path}/img/prev-page.svg" alt="$_("< Previous")" title="$_("< Previous")" data-alt-img="${files_path}/img/prev-page_s.svg" /></a>
                        </div>
                        #end if

                        <div class="bonito-pagination-core">
                            #filter None
                            $input_hidden
                            #end filter
                            <input type="hidden" name="cattr" value='$cattr' />
                            #for $cb in $cbgrfns
                            <input type="hidden" name="cbgrfns" value="$cb" />
                            #end for
                            <input type="hidden" name="cminfreq" value='$cminfreq' />
                            <input type="hidden" name="cminbgr" value='$cminbgr' />
                            <input type="hidden" name="cfromw" value='$cfromw' />
                            <input type="hidden" name="ctow" value='$ctow' />
                            <input type="hidden" name="csortfn" value='$csortfn' />

                            $_("Page")
                            <input type="text" name="collpage" value="$collpage" size="4" />
                        </div>

                        #if not $lastpage
                        <div class="bonito-pagination-right">
                            <a href="$join_params($allhref, [('collpage', $int($collpage) + 1)])" id="$navid"><img class="over-img" src="${files_path}/img/next-page.svg" alt="$_("Next >")" title="$_("Next >")" data-alt-img="${files_path}/img/next-page_s.svg" /></a>
                        </div>
                        #else
                        <a id="$navid"></a>
                        #end if
                    </fieldset>
                </form>
            </div>
        #end if
        #end block

        <table class="data">
        #set $rowNum = 1
          <tr><th></th><th>$_('Filter')</th>
          #for $h in $Head
            <th
            #if $h.has_key('style')
              $h.style
            #end if
            #if $h.has_key('s')
              #set $hs = $h.s
            #else
              #set $hs = ''
            #end if
            ><a href="collx?$join_params($Globals, [('cattr', $cattr), ('cbgrfns', $cbgrfns),
                    ('cminfreq', $cminfreq), ('cminbgr', $cminbgr), ('cfromw', $cfromw),
                    ('ctow', $ctow), ('csortfn', $hs)])">#if $h.n #$_($h.n)#else# #end if#</a>
            </th>
          #end for
          </tr>
          #for $i in $Items
            <tr>
                <td style="text-align: right">$($collstart + $rowNum).</td>
            #set $rowNum += 1
              <td><a href="view?$join_params($Globals, $i.pfilter)" title="$_('positive filter')">p</a>/<a href="view?$join_params($Globals, $i.nfilter)" title="$_('negative filter')">n</a></td>
              <td class='left monospace'>$i.str</td><td class="num"> $i.freq</td>
              #for $s in $i.Stats
                <td class="num"> $s.s</td>
              #end for
            </tr>
          #end for
        </table>
        #filter None
        $collx_navigation("next2")
        #end filter
    #end if
#end filter
</section>
#end def
