#*
Copyright (c) 2017 Charles University in Prague, Faculty of Arts,
                   Institute of the Czech National Corpus
Copyright (c) 2017 Tomas Machalek <tomas.machalek@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document

#extends document

#def bodyonload
__conf.attrname = "$attrname";
__conf.AttrList = $to_json($getVar('AttrList', []));
__conf.StructAttrList = $to_json($getVar('StructAttrList', []));
__conf.CollFormProps = $to_json($coll_form_args);
__conf.FreqFormProps = $to_json($freq_form_args);
__conf.CTFreqFormProps = $to_json($ctfreq_form_args);
__conf.workerTasks = $to_json($getVar('tasks', []));
__conf.CollResultData = $to_json($Items);
__conf.CollResultHeading = $to_json($Head);
__conf.CollPageSize = $to_json($citemsperpage);
__conf.CollSaveLinesLimit = $to_json($save_line_limit);
__conf.CollUnfinished = $to_json($processing);
collPage.init(__conf, $to_json($processing));
#end def

#def title
KonText - $getVar('page_title', '') ($_("Collocations").lower())#slurp
#end def

#def main
<section>
    <h2>$_("Collocation candidates")</h2>
    <div id="coll-view-mount"></div>
    <iframe id="download-frame" style="display:none"></iframe>
</section>
#end def
