#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#encoding UTF-8
#from cmpltmpl.document import document
#extends document

#def title
#end def

#def bodyonload
require(['tpl/concDesc', 'domReady!'], function(pageSelf, domReady) {
    conf.queryId = "$query_id";
    conf.messages.failed_to_save_the_query = "$_('Failed to save the query')";
    pageSelf.init(conf);
});
#end def

#block main
#filter WebSafe
<h2>$_("Concordance description")</h2>

<p>$_("Corpus"): <b>$corp_full_name</b>
    #if $usesubcorp
    $_("Subcorpus"): <b>$usesubcorp</b>
    #end if
</p>

<table class="data" id="concdesc">
    <thead>
    <tr>
        <th>$_("Operation")</th>
        <th>$_("Parameters")</th>
        <th>$_("Num of Hits")</th>
    </tr>
    </thead>
    <tbody>
    #for $d in $Desc
    <tr>
        <td>$d.op
        </td><td>
        #if $d.churl
        #set $href = $d.churl + ';' + $globals
        <a href="$href">
            #end if
            $d.arg
            #if $d.churl
        </a>
        #end if
        #set $href = 'view?' + $d.tourl + ';' + $globals
    </td><td align="right">
        <a href="$href">$d.size</a>
    </td>
    </tr>
    #end for
    </tbody>
</table>
#end filter

#if $supports_query_save
    <h3>$_('User\'s note')</h3>
    <p id="desc-area-switch-hint">$_('Click on the description area to start editing.')</p>
    <div id="query-desc-wrapper">
        <div id="query-desc-view" title="$_('Click to edit')">#filter None#$query_desc#end filter#</div>
        <div id="query-desc-editor" style="display: none">
            <textarea name="query_desc">$query_desc_raw</textarea>
            <label for="public-flag-checkbox">$_('anyone can view the description')</label>
            <input id="public-flag-checkbox" type="checkbox" name="public" value="1" #if $is_public#checked="checked"#end if# />
            <button id="exit-editation" type="button">$_('Done')</button>
        </div>
    </div>

    #if $query_id
    <div class="query-export-url">
    $_('URL of the query and description'): <input type="text" name="export-url" value="$export_url" size="40" readonly="readonly" />
    </div>
    #end if
#end if

#end block
