#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from templating.filters import *

<h2>$_('Corpus'): $corpname</h2>
<table class="wrapper" border="0" style="border-collapse: collapse">
    <tr>
        <td>
            <table class="attrib-list">
                <tr>
                    <th class="attrib-heading" colspan="2">$_('Attributes')</th>
                </tr>
                <tr>
                    <td style="height: 5px"> </td>
                </tr>
                #for item, freq in $attrlist
                <tr>
                    <th>$item</th>
                    <td class="numeric">#filter $IntegerFormatter# $freq #end filter#</td>
                </tr>
                #end for
            </table>
        </td>
        <td style="padding-left: 4em">
            <table class="attrib-list">
                <tr>
                    <th class="attrib-heading" colspan="2">$_('Structures')</th>
                </tr>
                <tr>
                    <td style="height: 5px"> </td>
                </tr>
                #for item, freq in $structlist
                <tr>
                    <th>$item</th>
                    <td class="numeric">#filter $IntegerFormatter# $freq #end filter#</td>
                </tr>
                #end for
            </table>
        </td>
    </tr>
</table>