#encoding UTF-8
#from translation import ugettext as _
<div id="corpus-details-box">
    <div class="top">
        <h4 class="corpus-name">...</h4>
        <p class="metadata">
            <strong>$_('size'):</strong> <span class="size"></span> $_('positions')<br />
            <strong class="web_url">$_('website'):</strong> <span class="web_url"></span>
        </p>
    </div>
    <table class="structs-and-attrs" border="0">
        <tr>
            <td>
                <table class="attrib-list">
                    <tr>
                        <th class="attrib-heading" colspan="2">$_('Attributes')</th>
                    </tr>
                    <tr class="item">
                        <th></th>
                        <td class="numeric"></td>
                    </tr>
                </table>
            </td>
            <td style="padding-left: 4em">
                <table class="struct-list">
                    <tr>
                        <th class="attrib-heading" colspan="2">$_('Structures')</th>
                    </tr>
                    <tr class="item">
                        <th></th>
                        <td class="numeric"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p class="note">$_('Remark: figures listed denote a number of different attributes / structures (i.e. types) in the corpus.')</p>
    <p class="corpus-description"></p>
</div>