#*
Copyright (c) 2003-2009  Pavel Rychly
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#
#encoding UTF-8
#import urllib
#import re
#from templating.filters import *
#attr $focus = ""
#if $format == 'text'
$text
#else:
<!DOCTYPE html>
<html>
#filter WebSafe
<head>
<title>$title</title>
<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="$files_path/img/favicon.ico" />
#for $css_font in $css_fonts
<link href='$css_font' rel='stylesheet' type='text/css'>
#end for
#end filter

#if $debug
<link rel="stylesheet/less" type="text/css" href="$files_path/css/${css_prefix}bonito.less" />
<link rel="stylesheet/less" type="text/css" href="$files_path/css/${css_prefix}view.less" />
<link rel="stylesheet/less" type="text/css" href="$files_path/css/${css_prefix}widgets.less" />
#else
<link rel="stylesheet" type="text/css" href="$files_path/css/kontext.min.css" />
#end if
<noscript>
    <link rel="stylesheet" type="text/css" href="${files_path}/css/main-menu.css" />
</noscript>
<link rel="stylesheet" type="text/css" href="$files_path/css/${css_prefix}jquery-ui.custom.css" />
#if $app_bar_css_arr
#for $app_bar_css in $app_bar_css_arr
<link rel="stylesheet" type="text/css" href="$app_bar_css" />
#end for
#end if
#if $foot_bar_css
<link rel="stylesheet" type="text/css" href="$foot_bar_css" />
#end if
<link rel="stylesheet" type="text/css" href="$files_path/css/keyboard.css" />
<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" href="$app_bar_css_ie" media="all">
<![endif]-->
<!--[if lt IE 9]>
    <script src="$files_path/js/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript" src="$files_path/js/virtual-keyboard.js" charset="UTF-8"></script>
#if $debug
<script type="text/javascript" src="$files_path/js/less.js" ></script>
#end if
<script type="text/javascript" src="$files_path/js/requirejs.min.js"></script>
#if $uses_aai
<link rel="stylesheet" type="text/css" href="//lindat.mff.cuni.cz/aai/discojuice/discojuice.css" />
#end if
<link rel="stylesheet" type="text/css" href="$files_path/css/${css_prefix}lindat.css" />
#block headers
#end block
#if $getVar('ca_headers', '')
$ca_headers
#else
<script type="text/javascript">
requirejs.config({
    baseUrl : #if not $debug#'../files/js/min'#else#'../files/js'#end if#,
    paths: {
        'domReady' : './domReady.min',
        'jquery': './jquery.min',
        'bootstrap': './bootstrap.min',
        'jqueryui' :  './jquery-ui.custom.min',
        'jscrollpane' : './jscrollpane.min'
    },
    shim : {
        'bootstrap' : {
            deps: ['jquery']
        },
        'jqueryui' : {
            deps: ['jquery']
        },
        'jscrollpane' : {
            deps: ['jquery']
        }
    }
});

define('win', [], function () { return window; });

define('conf', ['locale'], function () {
    var conf = {};
    conf.menuAutoHideInterval = 1500;
    conf.messageAutoHideInterval = 15000;
    conf.rootURLHost = "$root_url_host";
    conf.rootURLPath = "$root_url_path";
    conf.rootURL = "$root_url";
    conf.rootPath = "$root_path";
    conf.corpname = "$corpname";
    conf.session_cookie_name = "$session_cookie_name";
    conf.numTagPos = $num_tag_pos;
    conf.anonymousUser = #if $_anonymous#true#else#false#end if#;
    conf.loginUrl = "$login_url";

    conf.messages = {};
    #if $_anonymous
    conf.messages.anonymous_user_warning = "$($_('KonText is running in anonymous mode. Please <a href=\\"%s\\" class=\\"signon\\" onclick=\\"return false;\\">sign-in</a> to unlock all the functions.') % $login_url)";
    #end if
    conf.messages.failed_to_contact_server = "$_('Failed to contact server. Please try again later.')";
    conf.messages.error_loading_application_bar = "$_('Error loading application bar.')";
    conf.messages.view_result = "$_('View result')";
    conf.messages.operation = "$_('Operation')";
    conf.messages.parameters = "$_('Parameters')";
    conf.messages.num_of_hits = "$_('Num of Hits')";
    conf.messages.query_overview = "$_('Query overview')";
    conf.messages.failed_to_load_query_overview = "$_('Failed to load query overview')";
    conf.messages.close = "$_('close')";

    #if $focus
    conf.focus = $focus;
    #end if

    conf.queryTypesHints = {
        iqueryrow : "$_('Query type <em>basic</em> is suitable for getting to know the corpus. It searches for the input expression as a word form case-insensitively; if it is also a canonical dictionary form (lemma), all its word forms are searched as well.')"
    };
    conf.messages.msg1 = '$_('Positions are basic units for searching the corpus that correspond to tokens: every single occurrence of a word form, number or punctuation symbol in the corpus constitutes a position. Corpus size in positions given by the search interface is therefore higher than corpus size in number of words given on the <a href="http://www.korpus.cz/english/struktura.php" target="_blank">ICNC web pages</a>, where only postions containing at least one alphabetic character are considered.')';
    conf.messages.failed_to_load_corpus_info = "$_('Failed to load corpus information.')";

    return conf;
});

#if $uses_aai
require(['aai_config'], function(aai_config) {
	aai_config.init();
});
#end if

#if $app_bar
require(['lindat'], function(lindat) {
	lindat.init();
});
#end if

#block bodyonload
require(['tpl/document', 'conf', 'domReady!'], function (pageself, conf) {
    pageself.init(conf);
});
#end block

#if $getVar('ga_identifier', '')
// google analytics stuff
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '$ga_identifier']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
#end if
</script>
#end if

#if $app_bar_js
<script src="$app_bar_js"></script>
#end if
#if $foot_bar_js
<script src="$app_bar_js"></script>
#end if

</head>
<body id="lindat-tools">
#if $varExists('_ca_topbar')
$_ca_topbar
#else

#def menu_status($id)
    #if $id in $disabled_menu_items
        disabled
    #end if
#end def

#filter WebSafe
<div id="common-bar">
#if $app_bar
#filter None
    #include source=$app_bar
#end filter
#else
<span class="user">$_("User"):
    #if not $_anonymous
        $user_info.fullname
        (<a href="$logout_url">$_('logout')</a>)
    #else
        $user_info.fullname
        <a href="$login_url">($_('login'))</a>
    #end if
</span>
#end if
</div>

<header id="topbar">
    <a id="logo-wrapper" href="first_form"><img id="logo-image" class="over-img" src="../files/img/kontext-logo.png" alt="Kontext logo" title="$_('Click to enter a new query')" style="width: 208px;height: 68px" data-alt-img="../files/img/kontext-logo_s.png" /></a>
    <div id="menu-bar">
        <ul id="menu-level-1">
            <li id="menu-new-query" class="$menu_status('menu-new-query')"><a class="trigger" title="$_("Query")">$_("Query")</a>
                <ul class="submenu">
                    <li class="separ"><a title="$_('Enter new query')" href="first_form?$corpname_url;lemma=$lemma;lpos=$lpos;align=$align">$_('New query')&#8230;</a></li>
                    <li class="separ $menu_status('menu-new-query:history')"><a title="$_('List of recent queries')" href="query_history?$corpname_url">$_('Recent queries')&#8230;</a></li>
                    <li class="$menu_status('menu-new-query:wordlist')"><a title="$_("Various methods for creating word lists")" href="wordlist_form?$corpname_url">$_("Word List")&#8230;</a></li>
                </ul>
            </li>
            <li id="menu-subcorpus" class="$menu_status('menu-subcorpus')"><a class="trigger">$_("Subcorpora")</a>
                <ul class="submenu">
                    <li class="separ"><a title="$_('Create new subcorpus')" href="subcorp_form?$corpname_url">$_('Create new')&#8230;</a></li>
                    <li><a title="$_('List of my subcorpora')" href="subcorp_list?$q;$globals">$_('My subcorpora')&#8230;</a></li>
                </ul>
            </li>
            <li class="separator">&nbsp;</li>
            <li id="menu-save" class="$menu_status('menu-save')"><a class="trigger">$_("Save")</a>
                <ul class="submenu">
                    #set $i = 0
                    #for $item in $save_menu
                    <li#if $i < $len($save_menu) - 1# class="separ"#end if#><a href="$item.action?$q;$globals&$item.params">$item.label</a></li>
                    #set $i = $i + 1
                    #end for
                    #block custom_save
                    #end block
                </ul>
            </li>

            <li id="menu-concordance" class="$menu_status('menu-concordance')"><a class="trigger">$_("Concordance")</a>
                <ul class="submenu">
                    <li class="separ"><a title="$_('Concordance based on current parameters')" href="view?$q;$globals">$_('Current concordance')</a></li>
                    <li class="separ"><a title="$_("Complex sorting options")" href="sort?$q;$globals">$_('Sorting')&#8230;</a></li>
                    <li class="separ"><a title="$_("Randomize ordering of lines")" href="view?$q;q=f;$globals">$_("Shuffle")</a></li>
                    <li class="separ"><a title="$_('Make a random sample from the concordance.')" href="reduce_form?$q;$globals">$_('Sample')&#8230;</a></li>
                    <li class="separ"><a id="query-overview-trigger"
                        title="$_('Details about current query and related operations')"
                        href="concdesc?$corpname_url;usesubcorp=$usesubcorp;$q"
                        data-json-href="concdesc_json?$corpname_url;usesubcorp=$usesubcorp;$q">$_('Query overview')&#8230;</a></li>
                    <li>
                    #if len($undo_q) > 0
                    <a title="$_('Revert last operation on current concordance')" href="view?$globals;$undo_q">$_('Undo')</a>
                    #else
                    <span class="disabled" title="$_('Revert last operation on current concordance')" href="view?$globals;$undo_q">$_('Undo')</span>
                    #end if
                    </li>
                </ul>
            </li>

            <li id="menu-filter" class="$menu_status('menu-filter')"><a class="trigger" title="$_('Make a query on the current concordance.')">$_('Filter')</a>
                <ul class="submenu">
                    <li class="separ"><a href="filter_form?$q;$globals&pnfilter=p">$_('Positive')&#8230;</a></li>
                    <li><a href="filter_form?$q;$globals&pnfilter=n">$_('Negative')&#8230;</a></li>
                </ul>
            </li>

            <li id="menu-frequency" class="$menu_status('menu-frequency')"><a class="trigger">$_('Frequency')</a>
                <ul class="submenu">
                    #if 'tag' in [x['n'] for x in $AttrList]
                    <li class="separ"><a title="$_("Show frequencies of Node tags")" href="freqs?$q;$globals;fcrit=tag/e+0~0>0;ml=0">$_("Node tags")</a></li>
                    #end if
                    <li class="separ"><a title="$_("Show frequencies of Node forms")" href="freqs?$q;$globals;fcrit=word/e+0~0>0;ml=0">$_("Node forms")</a></li>
                    #if '.' in $fcrit_shortref.split('/')[0]
                    <li class="separ"><a title="$_("Show frequencies of Doc IDs")" href="freqs?$q;$globals;fcrit=$fcrit_shortref;ml=0">$_("Doc IDs")</a></li>
                    #end if
                    #if $ttcrit
                    <li class="separ"><a title="$_("Show frequencies of Text Types")" href="freqs?$q;$globals;$ttcrit">$_("Text Types")</a></li>
                    #end if
                    <li><a title="$_("Entry form for computing frequencies")" href="freq?$q;$globals">$_('Custom')&#8230;</a></li>
                </ul>
            </li>

            <li id="menu-collocations" class="$menu_status('menu-collocations')"><a class="trigger" title="$_("Collocation candidates")">$_('Collocations')</a>
                <ul class="submenu">
                    <li><a href="coll?$q;$globals">$_('Custom')&#8230;</a></li>
                </ul>
            </li>

            <li id="menu-view" class="$menu_status('menu-view')"><a class="trigger">$_('View options')</a>
                <ul class="submenu">
                    #if $viewmode == 'sen'
                    <li class="separ"><a title="$_("Key Words In Context")" href="view?$q;${url_sub($globals,'viewmode','kwic')};fromp=$fromp">$_('KWIC')/$_('Sentence')</a></li>
                    #else
                    <li class="separ"><a title="$_("Show sentences")" href="view?$q;${url_sub($globals,'viewmode','sen')};fromp=$fromp">$_('KWIC')/$_("Sentence")</a></li>
                    #end if
                    #if $align
                    <li class="separ"><a title="$_("Show aligned segments")" href="view?$q;${url_sub($globals,'viewmode','align')};fromp=$fromp">$_("Alignment")</a></li>
                    #end if
                    <li class="separ"><a href="viewattrs?$q;$globals;fromp=$fromp">$_("Attributes, structures and references")&#8230;</a></li>
                    <li><a href="viewopts?$q;$globals;fromp=$fromp">$_("General concordance view options")&#8230;</a></li>
                </ul>
            </li>

            <li id="menu-help" class="$menu_status('menu-help')"><a class="trigger" title="$_("Application help and tutorials")" href="#">$_("Help")</a>
                <ul class="submenu">
                    <li class="separ"><a href="http://wiki.korpus.cz/doku.php/manualy:kontext:index" target="_blank">$_('User manual (by ICNC)')&#8230;</a></li>
                    <li class="separ"><a href="https://trnka.ff.cuni.cz/dokuwiki/doku.php/pojmy:prehled_pojmu" target="_blank">$_('Linguistic terms (by ICNC)')&#8230;</a></li>
                    <li><a href="corplist" target="_blank">$_('Available corpora')&#8230;</a></li>
                </ul>
            </li>
        </ul>
        <div id="menu-level-2-wrapper">
            <div id="menu-level-2" data-current-menu=""></div>
        </div>
    </div>

#if $methodname != 'corplist'
    <div id="active-corpus">
        #if $corp_full_name
            <div id="corpus-desc">
            <strong>$_('info'):</strong>
            <a id="corpus-desc-link" class="corpus-desc" href="#" title="$_('click for details')">$corp_full_name</a>#if $usesubcorp#<strong>:<span title="$_('subcorpus')">$usesubcorp</span></strong>#end if#
            </div>
            <div id="corp-size-information">
            #if $usesubcorp
                <strong>$subcorp_size</strong> ($($_('of total %s) positions') % $corp_size)
            #else
                #filter None
                $($_('<strong>%s</strong> positions') % $corp_size)<a id="positions-help-link" class="context-help">
                <img class="over-img" src="../files/img/question-mark.png" data-alt-img="../files/img/question-mark_s.png" /></a>
                #end filter
            #end if
            </div>
            #if $corp_repo
                <div>
                <strong class="repo_url">$_('download'):</strong> <a href="$corp_repo">$corp_repo</a>
                </div>
            #end if
            #if $corp_pmltq
                <div>
                <strong class="pmltq_url">$_('treebank'):</strong> <a href="$corp_pmltq">$corp_pmltq</a>
                </div>
            #end if
            #if 'default_ref' in $citation_info and $citation_info.default_ref
            <div id="corpus-citation-link">
                <a href="#">$_('How to cite the corpus')</a>
            </div>
            #end if
        #end if
    </div>
#end if

    #if 'default_ref' in $citation_info and $citation_info.default_ref
    <div id="corpus-citation-box">
        <h3>$_('How to cite the corpus')</h3>
        <h4>#filter None#$($_('Corpus <em class="corpname">%s</em> as a language resource') % $canonical_corpname)#end filter#:</h4>
        #filter None# $citation_info.default_ref #end filter#

        #if len($citation_info.article_ref) > 0
            <h4>$_('Reference(s)'):</h4>
            <ul>
            #for $article_item in $citation_info.article_ref
                <li>#filter None# $article_item #end filter#</li>
            #end for
            </ul>
        #end if

        #if $citation_info.other_bibliography
        <h4>$_('General references'):</h4>
        #filter None# $citation_info.other_bibliography #end filter#
        #end if
    </div>
    #end if
    <div class="clear"></div>
</header>
#end filter
#end if


#filter WebSafe
<div id="content">
    #if $message
    <div class="messages">
        <div class="message $message[0]" #if $varExists('next_url')#data-next-url="$next_url"#end if#>
            <img class="icon" alt="$message[0]" src="../files/img/#if $message[0] == 'error'#error-icon.png#else#info-icon.png#end if#">
            <div class="message-text">#filter None#$message[1]#end filter#</div>
            <a class="close-icon">
                <img class="over-img" src="../files/img/close-icon.png" data-alt-img="../files/img/close-icon_s.png" />
            </a>
        </div>
    </div>
    #end if

    #filter None
    #block concordance
    #if $display_closed_conc
    <div id="conc-wrapper">
        <div id="conc-top-bar">
            <div id="result-info">
                #if $usesubcorp
                    $_("subcorpus"): <strong>$usesubcorp</strong> <span class="separ">|</span>
                #end if

                #if $conc_persist
                $_('Hits'): <span id="loader"></span> <strong id="fullsize" title="$fullsize">#filter $IntegerFormatter#$concsize#
                    #end filter#</strong>#if $sampled_size# <span class="separ">|</span> $_("random sample of size") <strong>$sampled_size</strong>
                    <span class="separ">|</span> #end if

                <abbr title="$_('instances per million') $result_relative_freq_rel_to">i.p.m.</abbr>:
                <span class="ipm">#filter $FloatFormatter# $result_relative_freq #end filter#</span>
                $result_relative_freq_rel_to
                #if $result_arf
                <span class="separ">|</span> <abbr title="$_('Average Reduced Frequency')">$_('ARF')</abbr>:
                <strong id="arf">#filter $IntegerFormatter# $result_arf #end filter#</strong>
                #end if
                <span class="separ">|</span>
                <span class="notice-shuffled">
                #if $result_shuffled#$_('Result is shuffled')#else#$_('Result is sorted')#end if#
                </span>
                #else
                &nbsp;
                #end if
            </div>
        </div>
        <div id="conclines-wrapper">
            <div id="hidden-conc">
                <a href="view?$q;$globals" title="$_('click to show current concordance')"><img class="over-img" src="../files/img/expand-conc.png" alt="$_('show current concordance')" data-alt-img="../files/img/expand-conc_s.png" /></a>
            </div>
        </div>
    </div>
    #end if
    #end block

    #block main
    #end block

    #end filter
</div>
<footer>
    #if $foot_bar
    #filter None
    $foot_bar
    #end filter
    #else
    #if $len($avail_languages) > 0
    <div id="switch-language-box">$_("user interface languages"):
        #set $i = 0
        #for $lang in $avail_languages
        <a data-lang="$lang[0]">$lang[1].get('label', $lang[0])</a>#if $i < $len($avail_languages) - 1# | #end if#
        #set $i = $i + 1
        #end for
    </div>
    #end if
    <div>
        <div id="copyright-info">
            &copy; <a href="http://www.korpus.cz/">Institute of the Czech National Corpus</a>,
            &copy; <a href="http://www.sketchengine.co.uk">Lexical Computing Ltd.</a>,
            &copy; <a href="http://nlp.fi.muni.cz/">NLP Centre FI MU</a>
        </div>
        <div id="app-version">
            $_('version') <strong>$_version[1]</strong>, $_('uses') manatee-<span>$_version[0]</span>
        </div>
        #if $debug
        <div class="debug-warning">
        $_('debugging mode')
        </div>
        #elif $error_report_url
        <div id="error-reporting"><a href="$error_report_url" target="_blank">$_('Report an error')</a></div>
        #end if
    </div>
    #end if
</footer>

#end filter
## end of left menu


</body>
</html>

#end if

## ******** Common methods definitions ******** ##

#def corp_sel($onchange=True)
## Select corpus name

#if $corplist_size == 1
$corp_full_name</b><br>
<input type="hidden" name="corpname" value="$corpname" />
#else
<input type="hidden" name="reload" />

<select name="corpname">
  #for $c in $Corplist
    #set $selected = ($c['id'] == $corpname) and 'selected="selected"' or ''
    <option value="$c['id']" title="$c['desc'] ($c['size'])" data-path="$c['path']" $selected>$c['name']</option>
  #end for
</select>
#if $SubcorpList
<strong>:</strong> <select id="subcorp-selector" name="usesubcorp">
    #for $subc in $SubcorpList
    <option value="$subc.v" #if $varExists('usesubcorp') and $usesubcorp==$subc.v#selected="selected"#end if#>$subc.n</option>
    #end for
</select>
#end if ## SubcorpList
#end if
#end def

#def corp_sel_node
#filter None
<tbody>
    <tr class="required">
    #if $corplist_size
        <th>$_("Corpus"):</th>
        <td colspan="2">
        #filter None
        $corp_sel
        #end filter
    #else
        <td colspan="2">
        <input type="hidden" name="corpname" value="$corpname" />
    #end if
    </td>
    </tr>
</tbody>
#end filter
#end def


#def subcorp_sel($nameid='usesubcorp')
## Select subcorpus

#if $LastSubcorp
  <select name="$nameid" id="$nameid">
    <option value="">$_("whole corpus")</option>
    #for $l in $LastSubcorp
      <option
      #if $l.n == $getVar($nameid, '')
        selected
      #end if
      >$l.n</option>
    #end for
    </select>
    <i>
    <a href="subcorp?$corpname_url">$_("info")</a>
    </i>
#end if
<i>
#if not $_anonymous
  <a href="subcorp_form?$corpname_url">$_("create new")</a>
#end if
</i>
#end def


#def input_hidden
## Global form parameters

#for $qq in $Q
  <input type="hidden" name="q" value="${qq['q'], also='"'}" />
#end for
#for $g in $Globals
  <input type="hidden" name="$g.name" value="$g.value" />
#end for
#end def


#def tt_sel
## Text Types
  #set $showhiddenlist = $getVar("showhidden", '').split(".")
  <div class="text-type-params">
  <div class="text-type-top-bar">
      #for $nn in $TextTypeSel['Normslist']
        #if $nn.n == $subcnorm
          <b>
        #end if
        <a href="$methodname?$corpname_url;reload=1;subcnorm=$nn['n']">$nn['label']</a>
        #if $nn.n == $subcnorm
          </b>
        #end if
      #end for
  </div>
  #for $t in $TextTypeSel['Blocks']
    #for $l in $t['Line']

    <table class="envelope" border="0">
      <thead class="fixed">
        <tr>
        <th>$_($l['label'])</th>
      #if $TextTypeSel['Normslist'] and not $l.has_key('textboxlength') and not $l.has_key('hierarchical')
        <th></th>
      #end if
        </tr>
      </thead>
      <tbody class="scrollable">
      #if $l.attr_doc
        <tr><td><i><a href="$l.attr_doc">$l.attr_doc_label</a></i></td></tr>
      #end if
      #if $l.has_key('Values')
        #if $l.has_key('hierarchical')
          <tr><td>
              <ul>
          #set $hsep = $l['hierarchical']
          #for $v in $l['Values']
            #if $v['startdiv']
              #set $hidden = ("div_"+$v['key'] in $showhiddenlist) and 'class="visible"' or 'class="hidden"'
              <ul id="div_$v['key']" $hidden>
            #end if
            <li>
            #if $v['display_plus']
            #set $icon = ("div_"+$v['key']+$hsep+$v['label'] in $showhiddenlist) and 'minus' or 'plus'
            <img class="plus-minus" src="$files_path/img/${icon}.png" id="div_$v['key']$hsep${v['label']}img" alt="$_("hide/show")"
                data-elementid="div_$v['key']$hsep$v['label']" data-storeval="1" data-path="${files_path}" />
            #else
            <img src="$files_path/img/grey.png" alt="$_("leaf")" width="13" height="0" class="opaque" />
            #end if
            #if $v['v']
              <input type="checkbox" name="sca_$l['name']" value="$v['v']" />
                <label for="sca_$l['name']">$_($v['label'])</label>
              #if $TextTypeSel['Normslist'] and not $l.has_key('textboxlength')
                ($v.get('xcnt', ''))
              #end if
            #end if
            #if not $v['display_plus']
            </li>
            #end if
            #for $i in $range($v['enddiv'])
              </ul></li>
            #end for
          #end for
          </ul></td></tr>
        #else
          #set $i = 0
          #for $v in $l['Values']
            #if 'v' in $v
              <tr  #if $i % 2 == 0 #class="even"#end if#>
                <td class="separ">
                    #set $checked = ''
                    #if $varExists('checked_sca')
                        #set $item_value = $v['v']
                        #if $item_value in $checked_sca
                            #set $checked = 'checked="checked"'
                        #end if
                    #end if
                    <input id="sca.$i.$l['name']" type="checkbox" name="sca_$l['name']" value="#if $v['v']#$_($v['v'])#else#$empty_attr_value_placeholder#end if#" $checked />
                    <label for="sca.$i.$l['name']">#if $v['v']#$_($v['v'])#else#$empty_attr_value_placeholder#end if#</label>
                </td>
              #if $TextTypeSel['Normslist'] and not $l.has_key('textboxlength') and not $l.has_key('hierarchical')
                <td class="num">$v.get('xcnt', '')</td>
              #else
                <td></td>
              #end if
              </tr>
            #end if
            #set $i = $i + 1
          #end for
        #end if
      </tbody>
      <tbody>
     <tr class="last-line"><td>
     <input class="select-all" type="button" data-status="1" data-alt-label="$_('Deselect all')" value="$_('Select all')" />
     </td></tr>
      #else
        <tr>
            <td>
            <input id="scaid_$l['name']" name="sca_$l['name']" type="text" size="$l['textboxlength']" />
            </td>
        </tr>
      #end if
      #if $l.attr_doc
        <tr><td><i><a href="$l.attr_doc">$l.attr_doc_label</a></i></td></tr>
      #end if
    </tbody>
    </table>
    #end for
    <div style="clear: both; height: 20px;">  </div>
  #end for
  </div>
#end def

#def query_node($suff='',$filter=False,$keyboard_lang='')
## basic query node form
<tbody>

#if $suff
<tr class="required">
    <th></th>
    <td>
        <select name="pcq_pos_neg$suff">
            <option value="pos">$_('Contains')</option>
            <option value="neg">$_('Does NOT contain')</option>
        </select>
    </td>
</tr>
#end if


#set $querytype = $getVar("queryselector" + $suff, '')

<tr class="required" id="querytypeel$suff">
    <th>$_("Query Type"):</th>
    <td>
        <select class="qselector" id="queryselector$suff" name="queryselector$suff" data-parallel-corp="$suff">
        #set $selected = ($querytype == 'iqueryrow' or $querytype == '') and 'selected="selected"' or ''
            <option value="iqueryrow" $selected>$_("Basic")</option>
            #if $getVar('has_lemmaattr' + $suff, '')
            #set $selected = ($querytype == 'lemmarow') and 'selected="selected"' or ''
            <option value="lemmarow" $selected>$_("Lemma")</option>
            #end if
            #set $selected = ($querytype == 'phraserow') and 'selected="selected"' or ''
            <option value="phraserow" $selected>$_("Phrase")</option>
            #set $selected = ($querytype == 'wordrow') and 'selected="selected"' or ''
            <option value="wordrow" $selected>$_("Word Form")</option>
            #set $selected = ($querytype == 'charrow') and 'selected="selected"' or ''
            <option value="charrow" $selected>$_("Character")</option>
            #set $selected = ($querytype == 'cqlrow') and 'selected="selected"' or ''
            <option value="cqlrow" $selected>$_("CQL")</option>
        </select>
  </td>
</tr>

#set $hidden = ($querytype == 'iqueryrow' or $querytype == '' or
                ($querytype == 'lemmarow' and not $has_lemmaattr)) and 'visible' or 'hidden'


#

<tr class="required $hidden" id="iqueryrow$suff">
      <th>$_("Query"):</th>
      <td>
        <ul class="query-toolbox">
            <li><a class="virtual-keyboard-trigger" href=#">$_('keyboard')</a></li>
        </ul>
        <input type="text" id="iquery$suff" class="spec-chars iquery-input" lang="$keyboard_lang" name="iquery$suff" value="$getVar('iquery' + $suff, '')" />
      </td>
</tr>

#if $has_lemmaattr
    #set $hidden = ($querytype == 'lemmarow') and 'visible' or 'hidden'
    <tr class="required $hidden" id="lemmarow$suff">
        <th>$_("Lemma"):</th>
        <td>
            <ul class="query-toolbox">
                <li><a class="virtual-keyboard-trigger" href=#">$_('keyboard')</a></li>
            </ul>
            #if $q
            <input type="text" name="lemma$suff" size="60" id="lemma$suff" class="search lemma-input" lang="$keyboard_lang"/>
            #else
            <input type="text" name="lemma$suff" value="$getVar('lemma' + $suff, '')" id="lemma$suff" class="spec-chars lemma-input" lang="$keyboard_lang"/>
            #end if

            #if $Lposlist
            <span class="no-wrap">
                $_("PoS"):
                <select name="lpos$suff">
                    <option value="">$_("unspecified")</option>
                    #for $lp in $Lposlist
                        <option value="$lp.v" #if $lp.v == $getVar('lpos' + $suff, '')#selected="selected"#end if#>$lp.n</option>
                    #end for
                </select>
            </span>
            #end if
        </td>
    </tr>
#end if

#set $hidden = ($querytype == 'phraserow') and 'visible' or 'hidden'
<tr class="required $hidden" id="phraserow$suff">
    <th>$_("Phrase"):</th>
    <td>
        <ul class="query-toolbox">
            <li><a class="virtual-keyboard-trigger" href=#">$_('keyboard')</a></li>
        </ul>
        <input type="text" name="phrase$suff" value="$getVar('phrase' + $suff, '')" id="phrase$suff" class="spec-chars phrase-input" lang="$keyboard_lang"/>
    </td>
</tr>

#set $hidden = ($querytype == 'wordrow') and 'visible' or 'hidden'
<tr class="required $hidden" id="wordrow$suff">
    <th>$_("Word Form"):</th>
    <td>
        <ul class="query-toolbox">
            <li><a class="virtual-keyboard-trigger" href=#">$_('keyboard')</a></li>
        </ul>
        <input type="text" name="word$suff" value="$getVar('word' + $suff, '')" id="word$suff" class="spec-chars word-input" lang="$keyboard_lang"/>
        #if $Wposlist
        <span class="no-wrap">
            $_("PoS"):
            <select name="wpos$suff">
                <option value="">$_("unspecified")</option>
                #for $wp in $Wposlist
                <option value="$wp.v"
                #if $wp.v == $getVar('wpos' + $suff, '')#selected="selected"#end if#>$wp.n</option>
                #end for
            </select>
        </span>
        #end if
        <span class="no-wrap">
            <label>$_("Match case"):</label>
            <input type="checkbox" name="qmcase$suff" value="1" #if $getVar('qmcase' + $suff, '')#checked#end if# />
        </span>
    </td>
</tr>

#set $hidden = ($querytype == 'charrow') and 'visible' or 'hidden'
<tr class="required $hidden" id="charrow$suff">
    <th>$_("Character"):</th>
    <td>
        <ul class="query-toolbox">
            <li><a class="virtual-keyboard-trigger" href=#">$_('keyboard')</a></li>
        </ul>
        <input type="text" name="char$suff" value="$getVar('char' + $suff, '')" id="char$suff" class="spec-chars char-input" lang="$keyboard_lang"/>
    </td>
</tr>

#set $hidden = ($querytype == 'cqlrow') and 'visible' or 'hidden'
<tr class="required $hidden" id="cqlrow$suff">
    <th title="$_("Corpus Query Language")">$_("CQL"):</th>
    <td>
        #unless $suff
        <div id="tag-builder-modal" class="modal-container" style="display: none">
            <h3>$_('Create a tag')</h3>
            <div id="tag-display"></div>
            <button id="insert-tag-button" type="button">$_('Insert')</button>
            <button id="reset-tag-button" type="button">$_('Reset')</button>
            <div id="tag-widget"></div>
        </div>
        <div id="within-builder-modal" class="modal-container" style="display: none">
            <h3>$_('Create a within condition')</h3>
            <div class="inputs">
                <span class="selection-container"></span> = <input id="within-value" type="text" />
                <button id="within-insert-button" type="button">$_('Insert')</button>
            </div>
        </div>
        #end unless

        <ul class="query-toolbox">
            #if $suff in $tag_builder_support and $tag_builder_support[$suff] is True:
            <li class="insert-tag"><a data-bound-input="cql$suff">$_('insert tag')</a></li>
            #end if
            <li class="within"><a data-bound-input="cql$suff">$_('insert "within"')</a></li>
            <li><a class="virtual-keyboard-trigger" href=#">$_('keyboard')</a></li>
        </ul>
        <input id="cql$suff" class="spec-chars cql-input" lang="$keyboard_lang" type="text" name="cql$suff" value='$getVar('cql' + $suff, '')' />

        #if not $suff
        <span class="no-wrap">
            $_("Default attribute"):
            <select name="default_attr$suff">
                #for $a in $AttrList
                <option value="$a.n" #if $a.n == $getVar('default_attr' + $suff, '')#selected="selected" #end if#>$a.n</option>
                #end for
            </select>

            #if $tagsetdoc
            <a target="_blank" href="$tagsetdoc">$_("Tagset summary")</a>
            #end if
        </span>
        #end if
    </td>
</tr>
</tbody>

#if $suff
<tbody><tr><td colspan="2">
    <input type="checkbox" name="include_empty$suff" id="include_empty$suff"
    #if $getVar('include_empty'+$suff, '')
    checked#slurp
    #end if
    />
    <label for="include_empty$suff">$_('include empty lines')</label>
</td></tr></tbody>
#end if
#end def ## query_node

#def urlquote($word)
## quoting strings in URLs
  #if $type('') == $type($word)
    #return urllib.quote_plus($word)
  #else
    #return urllib.quote_plus($word.encode('utf8'))
  #end if
#end def

#def url_sub($url, $option_name, $new_value)
## substituting options in URL to change one particular setting
    #if not re.search('(^|[;&])%s=[^;&]*([;&]|$)' % $option_name, $url)
        #return $url + ';%s=%s' % ($option_name, $new_value)
    #end if
    #return re.sub('(^|[;&])%s=[^;&]*([;&]|$)' % $option_name, ';%s=%s;' % ($option_name, $new_value), $url)
#end def

#def gdexconf_select($select_name, $gdexconf, $tblex=False)
    #set $onchange = ($tblex) and 'onchange="this.form.submit();"' or ''
    <select name="$select_name" id="$select_name" $onchange>
        #if $tblex
        <option value=" None " >$_("None")</option>
        #end if
        #set $selected = ($gdexconf==" default configuration ") and 'selected="selected"' or ''
        <option value=" default configuration " $selected>$_("default")</option>
        #for name in $getVar('Availgdexconfs', {})
            #set $selected = ($name==$gdexconf) and 'selected="selected"' or ''
            <option $selected value="$name">$name</option>
        #end for
    </select>
#end def
