#from cmpltmpl.topmenu import topmenu
#extends topmenu

#def title
$_("Concordance description")#slurp
#end def

#def container
#filter WebSafe
<div id="error-box">
<h1>$_('Error')</h1>
<p>$message</p>
<p><a href="$_home_url">$_('home page')</a></p>
</div>
#end filter
#end def