#from xml.sax.saxutils import escape
<?xml version='1.0' encoding='utf-8'?>
<?xml-stylesheet href="${root_url_path}fcs2html" type="text/xsl"?>
#if $operation == 'explain'
#filter WebSafe
<sru:explainResponse xmlns:sru="http://www.loc.gov/zing/srw/">
    <sru:version>$version</sru:version>
    <sru:record>
        #if not $varExists('code')
        <sru:recordSchema>http://explain.z3950.org/dtd/2.0/</sru:recordSchema>
        <sru:recordPacking>$recordPacking</sru:recordPacking>
        <sru:recordData>
            <zr:explain xmlns:zr="http://explain.z3950.org/dtd/2.0/">
                <zr:serverInfo protocol="SRU" version="1.2" transport="http" method="GET POST SOAP">
                    <zr:host>$server_name</zr:host>
                    <zr:port>$server_port</zr:port>
                    <zr:database>$database</zr:database>
                    </zr:serverInfo>
                <zr:databaseInfo>
                    <zr:title lang="en" primary="true">$corpname</zr:title>
                </zr:databaseInfo>
                <zr:indexInfo>
                    <zr:set identifier="clarin.eu/fcs/1.0" name="fcs">
                        <zr:title lang="de">CLARIN Content Search</zr:title>
                        <zr:title lang="en" primary="true">CLARIN Content Search</zr:title>
                    </zr:set>
                    #for $title in $result
                     <zr:index search="true" scan="true" sort="true">
                        <zr:title lang="en" primary="true">$title</zr:title>
                        <zr:map primary="true">
                            <zr:name>$title</zr:name>
                        </zr:map>
                    </zr:index>
                    #end for
                </zr:indexInfo>
                <zr:schemaInfo>
                    <zr:schema identifier="http://clarin.eu/fcs/1.0" name="fcs">
                        <zr:title lang="en" primary="true">CLARIN Content Search</zr:title>
                    </zr:schema>
                </zr:schemaInfo>
                <zr:configInfo>
                    <zr:setting type="maximumRecords">$maximumRecords</zr:setting>
                </zr:configInfo>
            </zr:explain>
        </sru:recordData>
        #end if
    </sru:record>
#end filter
#filter None
    $add_diagnostics()
#end filter
#filter WebSafe
</sru:explainResponse>
#end filter
#elif $operation == 'scan'
#filter WebSafe
<sru:scanResponse xmlns:sru="http://www.loc.gov/zing/srw/">
    <sru:version>$version</sru:version>
    #if not $varExists('code') and $result
    <sru:terms>
        #for $value, $displayTerm, $resourceInfo in $result
            <sru:term>
                <sru:value>$value</sru:value>
                <sru:displayTerm>$displayTerm</sru:displayTerm>
                #if $resourceInfoRequest
                <sru:extraTermData>
                    <ResourceInfo xmlns="http://clarin.eu/fcs/1.0/resource-info" hasSubResources="false">
                        <Title xml:lang="en">$resourceInfo.title</Title>
                        #if $resourceInfo.description
                        <Description xml:lang="en">$resourceInfo.description</Description>
                        #end if
                        #if $resourceInfo.landingPageURI
                        <LandingPageURI>$resourceInfo.landingPageURI</LandingPageURI>
                        #end if
                        <Languages>
                            <Language>$resourceInfo.language</Language>
                        </Languages>
                    </ResourceInfo>
                </sru:extraTermData>
                #end if
            </sru:term>
        #end for
    </sru:terms>
    #end if
#end filter
#filter None
    $add_diagnostics()
#end filter
#filter WebSafe
</sru:scanResponse>
#end filter
#elif $operation == 'searchRetrieve'
#filter WebSafe
<sru:searchRetrieveResponse xmlns:sru="http://www.loc.gov/zing/srw/">
    <sru:version>$version</sru:version>
    <sru:numberOfRecords>$numberOfRecords</sru:numberOfRecords>
    #if not $varExists('code') and $numberOfRecords > 0
    <sru:records>
        #for $left, $word, $right, $ref in $result
        <sru:record>
            <sru:recordSchema>http://clarin.eu/fcs/1.0</sru:recordSchema>
            <sru:recordPacking>$recordPacking</sru:recordPacking>
            <sru:recordData>
                <fcs:Resource xmlns:fcs="http://clarin.eu/fcs/1.0" pid="$corpname" ref="$corpname">
                    <fcs:DataView type="application/x-clarin-fcs-kwic+xml">
                        <kwic:kwic xmlns:kwic="http://clarin.eu/fcs/1.0/kwic">
                            <kwic:c type="left">$left</kwic:c>
                            <kwic:kw>$word</kwic:kw>
                            <kwic:c type="right">$right</kwic:c>
                        </kwic:kwic>
                    </fcs:DataView>
                </fcs:Resource>
            </sru:recordData>
        </sru:record>
        #end for
    </sru:records>
    #end if
#end filter
#filter None
    $add_diagnostics()
#end filter
#filter WebSafe
</sru:searchRetrieveResponse>
#end filter
#end if
#def add_diagnostics()
#filter WebSafe
    #if $varExists('code')
    <sru:diagnostics xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/">
        <diag:diagnostic>
            <diag:uri>info:srw/diagnostic/1/$code</diag:uri>
            <diag:details>$details</diag:details>
            <diag:message>$msg</diag:message>
        </diag:diagnostic>
    </sru:diagnostics>
    #end if
#end filter
#end def
