#*
Copyright (c) 2013 Charles University in Prague, Faculty of Arts,
                   Institute of the Czech National Corpus
Copyright (c) 2013 Tomas Machalek <tomas.machalek@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#encoding UTF-8
#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
KonText - $_("query form")#slurp
#end def

#def bodyonload
__conf.textTypesData = $to_json($text_types_data);
__conf.Wposlist = $to_json($Wposlist);
__conf.ConcFormsArgs = $to_json($conc_forms_args);
__conf.SubcorpList = $to_json($SubcorpList);
__conf.ShuffleConcByDefault = $to_json($shuffle);
__conf.Lposlist = $to_json($Lposlist);
__conf.ForcedAttr = $to_json($getVar('force_cql_default_attr', None));
__conf.DefaultAttr = $to_json($default_attr);
__conf.AttrList = $to_json($getVar('AttrList', []));
__conf.InputLanguages = $to_json($input_languages);
__conf.TextTypesNotes = $to_json($text_types_notes);
__conf.QueryHistoryPageNumRecords = $to_json($query_history_page_num_records);
__conf.UseCQLEditor = $to_json($bool($cql_editor));
__conf.StructAttrList = $to_json($StructAttrList);
__conf.StructList = $to_json($StructList);
firstFormPage.init(__conf);
#end def

#def main
<section>
    <h2>$_('Search in the corpus')</h2>
    <div id="query-form-mount"></div>
</section>

#end def
