#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
KonText - $getVar('page_title', '') ($_("Frequency list").lower())#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function(pageSelf, conf) {
    conf.AttrList = $to_json($getVar('AttrList', []));
    conf.StructAttrList = $to_json($getVar('StructAttrList', []));
    conf.FreqFormProps = $to_json($freq_form_args);
    conf.FreqResultData = $to_json($Blocks);
    conf.FreqItemsPerPage = $to_json($fmaxitems);
    conf.FreqCrit = $to_json($fcrit);
    pageSelf.init(conf);
});
#end def


#def main
<section>
    <h2>$_("Frequency list")</h2>
    <div id="result-mount" class="no-margin"></div>
</section>
#end def
