#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
$_("Freqs form")#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function (pageSelf, conf) {
    conf.multilevel_freq_dist_max_levels = $multilevel_freq_dist_max_levels;
    conf.lastNumLevels = #if $last_num_levels#$last_num_levels#else#null#end if#;
    pageSelf.init(conf);
});
#end def

#def main
<section>
    #filter WebSafe
    <h2>$_("Multilevel frequency distribution")</h2>
    <form action="freqml">
        #filter None
        $input_hidden
        #end filter
        <p>
          <input type="hidden" name="ml" value="1" />
          $_("Frequency limit"): <input type="text" name="flimit" value="$flimit" size="7" />
        </p>
        <table id="multilevel-freq-params">
            <tr>
                <th>$_('Level')</th>
                <th>$_('Attribute')</th>
                <th>$_('Ignore case')</th>
                <th>$_('Position')</th>
                <th>$_("(Node) start at") <a class="kwic-alignment-help context-help" href="#"><img class="over-img" src="../files/img/question-mark.png" data-alt-img="../files/img/question-mark_s.png" /></a></th>
                <th></th>
            </tr>
            <tr id="multilevel-freq-first-level" class="level-line">
                <td class="level">
                    1.
                </td>
                <td>
                    <input type="hidden" name="freqlevel" value="1" />
                    <select name="ml1attr">
                        #for $a in $AttrList
                        <option value="$a.n">$_($a.label)</option>
                        #end for
                    </select>
                </td>
                <td>
                    <input type="checkbox" name="ml1icase" value="i" #if $ml1icase#checked="checked"#end if# />
                </td>
                <td>
                    <select name="ml1ctx" autocomplete="off">
                        #for $p in $Pos_ctxs
                        <option value="$p.ctx" #if $p.ctx == $ml1ctx#selected="selected"#end if#>$_($p.n)</option>
                        #end for
                    </select>
                </td>
                <td>
                    <div class="kwic-alignment-box" style="display: none">
                        <select class="kwic-alignment" id="kwic-alignment-1" autocomplete="off">
                            <option value="left">$_("leftmost KWIC word")</option>
                            <option value="right">$_("rightmost KWIC word")</option>
                        </select>
                    </div>
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr class="add-level">
                <td>
                    <a id="add-freq-level-button" title="$_('Add level')">+</a>
                </td>
                <td colspan="5">
                </td>
            </tr>
        </table>
        <div class="buttons">
          <input class="submit default-button" type="submit" value="$_("Make Frequency List")" id="submit" />
        </div>
    </form>
</section>

<section>
    #if $StructAttrList
    <h2>$_("Text Type frequency distribution")</h2>
    <form action="freqtt">
        #filter None
        $input_hidden
        #end filter
        <table class="form">
          <tr>
            <th>$_("Frequency limit"):</th>
            <td><input type="text" name="flimit" value="$flimit" size="7" /></td>
          </tr>
          <tr>
            <th>$_("Include categories with no hits"):</th>
            <td><input type="checkbox" name="ftt_include_empty" /></td>
          </tr>
          <tr>
          <td colspan="2">
          <select name="fttattr" size="8" multiple="multiple">
          #for $s in $StructAttrList
            <option value="$s.n">$_($s.label)</option>
          #end for
          </select></td>
          </tr>
        </table>

        <div class="buttons">
          <input class="submit default-button" type="submit" value="$_("Make Frequency List")" />
        </div>
    </form>
    #end if

    #end filter
</section>
#end def
