#from cmpltmpl.topmenu import topmenu
#extends topmenu

#def container
#filter WebSafe
<div id="container">
<div id="sidebar">
<div id="in-sidebar">
  <ul>
    <li><a title="$_("New query entry form")" href="first_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("Concordance")</a></li>
    <li><a title="$_("Various methods for creating word lists")" href="wordlist_form?$corpname_url">$_("Word List")</a></li>
#if $has_wsketch
    <li><a title="$_("Word Sketch query entry form")" href="wsketch_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("Word Sketch")</a></li>
    <li><a title="$_("Thesaurus query entry form")" href="thes_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("Thesaurus")</a></li>
    <li><a title="$_("Word sketch difference")" href="wsdiff_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("Sketch-Diff")</a></li>
  #if $can_wseval
    <li><a title="$_("Word Sketch Evaluation")" href="wseval_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("Sketch-Eval")</a></li>
  #end if
  #if $can_annotate
    <li><a title="$_("Corpus Pattern Analysis")" href="cpa_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("Corpus Pattern Analysis")</a></li>
  #end if
  #if $alpha_features
    <li><a title="$_("Word Sketch Patterns")" href="patterns_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("Word Sketch Patterns")</a></li>
    <li><a title="$_("Word Sketch Text-type difference")" href="wsttdiff_form?$corpname_url;lemma=$lemma;lpos=$lpos">$_("WS Text-type diff.")</a></li>
  #end if
  #if $getVar('lg_switch_content', '')
    <script>
    var url = window.location.toString();
    if (url.indexOf('?') == -1) { url += '?'; }
    document.write('<li><a href="' + url +
               ';uilang=$lg_switch_content[0]">$lg_switch_content[1]</a></li>')
    </script>
  #end if
#end if
  #if $varExists('helpsite')
  <li class="context_help"><a href="${helpsite}../MainLinkHelp" rel="help">? $_("Help on main menu")</a></li>
  #end if
  </ul>
  <hr/>
  <div id="submenu">
  <ul>
  #filter WebSafe
  #block left_submenu_help
  #end block
  #block left_submenu_save
  #end block
  #block left_submenu_options
  #end block
  #block left_submenu
  #end block
  #block left_submenu_expert
  #end block
  #end filter
  <li class="menu_switch" onclick="cmdSwitchMenu('$files_path')"><a>$_("Switch menu position")</a></li>
  </ul>
  <ul>
      <li>$_('User'):
        <ul>
            <li><a href="user_password_form">$_('Password settings')</a></li>
        </ul>
      </li>
  </ul>
  </div>
</div>
</div>

<div id="body">
<div id="in-body">
#if $error
 <div id="error">
    $error
    <button onclick="history.back(1);">$_("Back")</button>
 </div>
#end if
#filter None
$main
#end filter
 <div id="version">
   <div id="lc_logo">
   <a href="http://www.sketchengine.co.uk">Lexical Computing Ltd.
   <img alt="Lexical Computing logo" src="$files_path/img/lc_logo_small.png" />
   </a></div>
   Sketch Engine (ver:$_version)
 </div>

</div>
</div>
</div>
#end filter
#end def

