#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from cmpltmpl.conc import conc
#extends conc

#def text
$annotconc
#for $l in $LineGroups
$l.name	$l.freq
#end for
#end def

#def title
$_("Line Group Info")#slurp
#end def

#def bodyargs
id="bodytag"#slurp
#end def

#def main
<script type="text/javascript">
    jQuery(document).ready(function () { jQuery('input[type="submit"]').focus(); });
</script>
#filter WebSafe

<i>$_("Annotating"):</i> <b>$annotconc</b>
<a href="view?$q;$globals;annotconc=--NONE--">$_("Finish")</a>

<table class="lngrpinfo">
    <tr>
        <th>$_("Label")</th>
        <th>$_("Occurs")</th>
        <th>$_("Filter")</th>
        <th>$_("Action")</th>
    </tr>
    #for $lg in $LineGroups
    #if $lg.has_key('pfilter')
    #set $pfilter = $l.pfilter
    #else
    #set $pfilter = ''
    #end if
    <tr>
        <td><b>$lg.name</b></td>
        <td>$lg.freq</td>
        <td><a href='view?$globals;$q;$pfilter;q=a$annotconc+-$lg.id'>P</a> /
            <a href='view?$globals;$q;$pfilter;q=a$annotconc+$lg.id'>N</a></td>
        #for $s in $lg.get('Sketch',[])
        &nbsp;&nbsp;<i>$s.name:</i>
        #for $c in $s.Colls# $c.word, #end for#
        #end for
        &nbsp;&nbsp;
        <td><a href="concsketch?$globals;$q;$pfilter;q=a$annotconc+-$lg.id">$_("Show Wordsketch")</a></td>
    </tr>
    #end for

</table>
<form action="bootstrap">
    #if $getVar('auto_annotated','')
    $_("Automatically annotated") <i>$auto_annotated</i> $_("hits").<br/>
    #end if

    #filter None
    $input_hidden
    #end filter

    $_("Minscore"): <input type="text" name="minbootscore" size="5" value="$minbootscore" />
    $_("Mindiff"): <input type="text" name="minbootdiff" size="5" value="$minbootdiff" />
    <input type="submit" value="Automatically annotate" />
</form>

<br/>

###<form action="rename_annot">
    ###   <input type="hidden" name="annotconc" value="$annotconc" />
    ###   $_("New name"): <input name="newname" size="40" />
    ###   <input type="submit" value="Rename" />
    ###</form>
#end filter
#end def

