#*
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#encoding UTF-8
#from cmpltmpl.document import document
#extends document

#def title
#end def

#def bodyonload
    require(['tpl/queryHistory'], function (pageSelf) {
        conf.messages.failed_to_delete_the_query = "$_('Failed to delete the query')";
        conf.messages.deleted_query = "$_('Deleted the query.')";
        conf.messages.undeleted_query = "$_('Undeleted the query.')";
        conf.messages.failed_to_undelete_the_query = "$_('Failed to undelete the query.')";
        conf.messages.undo = "$_('Undo')";
        pageSelf.init(conf);
    });
#end def

#block main
<h2>$_('Recent queries')</h2>

<table border="0" class="query-history">
    <tr>
        <th>$_('date')</th>
        <th>$_('corpus')</th>
        <th>$_('CQL')</th>
        <th></th>
    </tr>
#set $i = 0
#for $row in $data
<tr class="query-history-item#if $row.tmp# autosaved#end if# #if $i % 2 == 1#even#end if#" data-query-id="$row.id">
    <td>$row.created</td>
    <td>$row.corpname</td>
    <td>
        #filter None#$row.cql#end filter#
    </td>
    <td>
        <a class="open" href="#filter WebSafe#$row.url#end filter#">$_('open')</a>
    </td>
</tr>
    #set $i += 1
#end for
</table>

#end block