#*
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#encoding UTF-8
#from cmpltmpl.document import document
#extends document

#def title
#end def

#def bodyonload
    require(['tpl/queryHistory'], function (pageSelf) {
        conf.messages.failed_to_delete_the_query = "$_('Failed to delete the query')";
        conf.messages.deleted_query = "$_('Deleted the query.')";
        conf.messages.undeleted_query = "$_('Undeleted the query.')";
        conf.messages.failed_to_undelete_the_query = "$_('Failed to undelete the query.')";
        conf.messages.undo = "$_('Undo')";
        pageSelf.init(conf);
    });
#end def

#block main
<h2>$_('Query history')</h2>

<h3>$_('Filter')</h3>
<form action="">
    $_('from date'): <input id="from-date-filter" type="text" name="from_date" value="$from_date" size="8" /> ,
    $_('to date'): <input id="to-date-filter" type="text" name="to_date" value="$to_date" size="8" /><br />
    <label for="filter-autosaved">$_('autosaved')</label>
    <input id="filter-autosaved" type="checkbox" name="types" value="auto-saved" #if 'auto-saved' in $types#checked="checked"#end if# />
    <label for="filter-manually-saved">$_('saved manually')</label>
    <input id="filter-manually-saved" type="checkbox" name="types" value="manually-saved" #if 'manually-saved' in $types#checked="checked"#end if# />
    <br />
    <button type="submit">$_('Apply')</button>
</form>

#for $row in $data
<div class="query-history-item#if $row.tmp# autosaved#end if#" data-query-id="$row.id">
    <h4 class="info">$row.created | <span class="corpname">$row.corpname</span>
    #if $row.tmp#| $_('autosaved')#end if#</h4>
    <h4 class="actions"> <a class="open" href="#filter WebSafe#$row.url#end filter#">$_('open')</a> | <a class="delete" href="#">$_('delete')</a></h4>
    #filter None#$row.description#end filter#
</div>
#end for

#end block