#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#if $keywords
#def title
$_("Save Keywords")#slurp
#end def
#pass
#else
#def title
$_("Save Word List")#slurp
#end def
#pass
#end if
</title>

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function (savewlForm, conf) {
    conf.files_path = '${files_path}';
    savewlForm.init(conf);
});
#end def

#def main
#filter WebSafe
<section>
    <h2>
    #if $keywords
      $_("Save Keywords")
    #else
      $_("Save Word List")
    #end if
    </h2>
    <form action="savewl">
        <input type="hidden" name="corpname" value="$corpname" />
        <input type="hidden" name="wlattr" value="$wlattr" />
        <input type="hidden" name="wlminfreq" value="$wlminfreq" />
        <input type="hidden" name="wlpat" value="$wlpat" />
        <input type="hidden" name="wlicase" value="$wlicase" />
        <input type="hidden" name="wlsort" value="$wlsort" />
        <input type="hidden" name="usesubcorp" value="$usesubcorp" />
        <input type="hidden" name="ref_corpname" value="$ref_corpname" />
        <input type="hidden" name="ref_usesubcorp" value="$ref_usesubcorp" />
        <input type="hidden" name="wlcache" value="$wlcache" />
        <input type="hidden" name="usearf" value="$usearf" />
        <input type="hidden" name="simple_n" value="$simple_n" />
        <input type="hidden" name="wltype" value="$wltype" />
        <input type="hidden" name="wlnums" value="$wlnums" />
        <input type="hidden" name="include_nonwords" value="$include_nonwords" />
        <input type="hidden" name="blcache" value="$blcache" />
        <table class="form">
          <tr>
            <th>
            #if $keywords
              $_("Save keywords as"):
            #else
              $_("Save word list as"):
            #end if
            </th>
            <td>
              <label>
                  <input type="radio" name="saveformat" value="csv"
                  #if $saveformat == 'csv'
                  checked="checked"
                  #end if
                  /> CSV
              </label>
              <label>
                  <input type="radio" name="saveformat" value="xlsx"
                  #if $saveformat == 'xlsx'
                  checked="checked"
                  #end if
                  /> XLSX
              </label>
              <label>
                <input type="radio" name="saveformat" value="xml"
            #if $saveformat == 'xml'
              checked="checked"
            #end if
            /> $_("XML")
              </label>
              <label>
                <input type="radio" name="saveformat" value="text"
            #if $saveformat == 'text'
              checked="checked"
            #end if
            /> $_("Text")
              </label>
            </td>
          </tr>
          <tr class="separator">
            <th>$_("Include heading"):</th>
            <td><input type="checkbox" name="heading" value="1" checked="checked" /></td>
          </tr>
          <tr class="separator">
            <th>$_("Include column headers"):</th>
            <td><input type="checkbox" name="colheaders" value="1" checked="checked" /></td>
          </tr>
          <tr>
            <th>$_("Maximum number of lines"):</th>
            <td><input type="hidden" name="from_line" value="$from_line" size="4" />
                    <input type="text" name="to_line" value="$to_line" size="4" /></td>
          </tr>
        </table>

        <div class="buttons">
        <input type="submit" id="submit" value="#if $keywords then $_("Save Keywords") else $_("Save Word List")#" />
        </div>
    </form>
</section>
#end filter
#end def
