#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from cmpltmpl.conc import conc
#extends conc

#def title
$_("Save Collocations")#slurp
#end def

#def bodyonload
require(['jquery', 'tpl/savecollForm', 'domReady!'], function (\$, savecollForm, domReady) {
    ## conf object is defined within document.tmpl
    conf.files_path = '${files_path}';
    savecollForm.init(conf);
});
#end def


#def main
#filter WebSafe
<h3>$_("Save Collocation Candidates")</h3>
<form action="savecoll">
<fieldset class="anonymous">
#filter None
$input_hidden
#end filter
<input type="hidden" name="cattr" value="$cattr" />
<input type="hidden" name="cbgrfns" value="$cbgrfns" />
<input type="hidden" name="cminfreq" value="$cminfreq" />
<input type="hidden" name="cminbgr" value="$cminbgr" />
<input type="hidden" name="cfromw" value="$cfromw" />
<input type="hidden" name="ctow" value="$ctow" />
<input type="hidden" name="csortfn" value="$csortfn" />

<table class="form">
  <tr>
    <th>$_("Save collocations as"):</th>
    <td>
      <label>
        <input type="radio" name="saveformat" value="text"
        #if $saveformat == 'text'
          checked="checked"
        #end if
        /> $_("Text")
      </label>
      <label>
        <input type="radio" name="saveformat" value="xml"
        #if $saveformat == 'xml'
          checked="checked"
        #end if
        /> $_("XML")
      </label>
      <label>
          <input type="radio" name="saveformat" value="csv"
          #if $saveformat == 'csv'
          checked="checked"
          #end if
          /> CSV
      </label>
    </td>
  </tr>
  <tr class="separator">
    <th>$_("Include heading"):</th>
    <td><input type="checkbox" name="heading" value="1" checked="checked" /></td>
  </tr>
  <tr class="separator">
    <th>$_("Include column headers"):</th>
    <td><input type="checkbox" name="colheaders" value="1" checked="checked" /></td>
  </tr>
  <tr>
    <th>$_("Lines to store"):</th>
    <td>$_('from') <input type="text" name="from_line" value="$from_line" size="4" /> $_('to')
            <input type="text" name="to_line" value="$to_line" size="4" /></td>
  </tr>
</table>

<div class="buttons">
<input type="submit" value="$_("Save Collocation candidates")" id="submit" />
</div>
</fieldset>
</form>
#end filter
#end def
