#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
$_("Save Collocations")#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function (savecollForm, conf) {
    conf.files_path = '${files_path}';
    conf.saveMaxItems = '$format_number($save_max_lines)';
    savecollForm.init(conf);
});
#end def


#def main
#filter WebSafe
<section>
    <h2>$_("Save Collocation Candidates")</h2>
    <form action="savecoll">
        #filter None
        $input_hidden
        #end filter
        <input type="hidden" name="cattr" value="$cattr" />
        <input type="hidden" name="cbgrfns" value="$cbgrfns" />
        <input type="hidden" name="cminfreq" value="$cminfreq" />
        <input type="hidden" name="cminbgr" value="$cminbgr" />
        <input type="hidden" name="cfromw" value="$cfromw" />
        <input type="hidden" name="ctow" value="$ctow" />
        <input type="hidden" name="csortfn" value="$csortfn" />

        <table class="form">
          <tr>
            <th>$_("Save collocations as"):</th>
            <td>
              <label>
                  <input type="radio" name="saveformat" value="csv"
                  #if $saveformat == 'csv'
                  checked="checked"
                  #end if
                  /> CSV
              </label>
              <label>
                  <input type="radio" name="saveformat" value="xlsx"
                  #if $saveformat == 'xlsx'
                  checked="checked"
                  #end if
                  /> XLSX (Excel)
              </label>
              <label>
                <input type="radio" name="saveformat" value="xml"
                #if $saveformat == 'xml'
                  checked="checked"
                #end if
                /> $_("XML")
              </label>
              <label>
                <input type="radio" name="saveformat" value="text"
                #if $saveformat == 'text'
                  checked="checked"
                #end if
                /> $_("Text")
              </label>
            </td>
          </tr>
          <tr class="separator">
            <th>$_("Include heading"):</th>
            <td><input type="checkbox" name="heading" value="1" checked="checked" /></td>
          </tr>
          <tr class="separator">
            <th>$_("Include column headers"):</th>
            <td><input type="checkbox" name="colheaders" value="1" checked="checked" /></td>
          </tr>
          <tr>
            <th>$_("Lines to store"):</th>
            <td>$_('from') <input type="text" name="" value="1" size="4" disabled="disabled" />
                <input type="hidden" name="from_line" value="1" />$_('to')
                <input type="text" name="to_line" value="$to_line" size="4" />
                ($_('leave empty to load values up to the end')
                <a class="context-help">
                <img class="save-limit-help context-help over-img" src="${files_path}/img/question-mark.svg"
                     data-alt-img="${files_path}/img/question-mark_s.svg" /></a>
                )
             </td>
          </tr>
        </table>

        <div class="buttons">
        <input type="submit" class="default-button" value="$_("Save Collocation candidates")" id="submit" />
        </div>
    </form>
</section>
    #end filter
#end def
