#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
##

#if $saveformat == 'text'
## text
#if $heading
\# Frequency list
\# Corpus: $human_corpname
#if $usesubcorp
\# Subcorpus: $usesubcorp
#end if
  #for $d in $Desc
\# $d.get('op'):  $d.get('arg') $d.get('size')
  #end for
\# Frequency limit: $flimit
#end if
#for $b in $Blocks

  #for $h in $b.Head
| $h.get('n')	#slurp
  #end for

------------------------------
  #for $i in $b.Items
    #for $w in $i.Word
$w.get('n')	#slurp
    #end for
$i.get('freq')	#slurp
    #unless $ml
$i.get('rel')
    #else

    #end unless
  #end for
#end for
#end if

