#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#
#from cmpltmpl.conc import conc
#extends conc

#def title
$_("Save Concordance Form")#slurp
#end def

#def bodyonload
require(['jquery', 'tpl/saveconcForm', 'domReady!'], function (\$, saveconcForm, domReady) {
    ## conf object is defined within document.tmpl
    conf.files_path = '${files_path}';
    saveconcForm.init(conf);
});
#end def

#def main
#filter WebSafe
<h3>$_("Save Concordance")
    #if $varExists('helpsite')
    <a href="${helpsite}saveconc" rel="help" title='$_("? Help on Saving Conc.")' target="_blank" name="help_icon" id="help_icon">
        <img src="$files_path/img/help.png" alt='$_("? Help on Saving Conc.")' />
    </a>
    #end if
</h3>
<form action="saveconc">
    #filter None
    $input_hidden
    #end filter
    <input type="hidden" name="pagesize" value="$pagesize" />
    <input type="hidden" name="leftctx" value="$leftctx" />
    <input type="hidden" name="rightctx" value="$rightctx" />
    <table class="form">
        <tr>
            <th>$_("Save concordance as"):</th>
            <td>
                <label>
                    <input type="radio" name="saveformat" value="text"
                    #if $saveformat == 'text'
                    checked="checked"
                    #end if
                    /> $_("Text")
                </label>
                <label>
                    <input type="radio" name="saveformat" value="xml"
                    #if $saveformat == 'xml'
                    checked="checked"
                    #end if
                    /> $_("XML")
                </label>
                <label>
                    <input type="radio" name="saveformat" value="csv"
                     #if $saveformat == 'csv'
                    checked="checked"
                    #end if
                    /> CSV
                </label>
            </td>
        </tr>
        <tr class="separator">
            <th><label for="document-heading-checkbox">$_("Include heading"):</label></th>
            <td><input id="document-heading-checkbox" type="checkbox" name="heading" value="1" checked="checked" /></td>
        </tr><tr>
        <th><label for="line-numbering-checkbox">$_("Include line numbers"):</label></th>
        <td><input id="line-numbering-checkbox" type="checkbox" name="numbering" value="1"
            #if $numbering
            checked="checked"
            #end if
            /></td>
    </tr><tr>
        <th><label for="align-kwic-checkbox">$_("Align KWIC"):</label></th>
        <td><input id="align-kwic-checkbox" type="checkbox" name="align_kwic" value="1" checked="checked" /></td>
    </tr><tr>
        <th>$_("Lines to store"):</th>
        <td>$_('from') <input type="text" name="from_line" value="$from_line" size="4" /> $_('to')
            <input type="text" name="to_line" value="$to_line" size="4" /></td>
    </tr>
    </table>

    <div class="buttons">
        <input class="submit" type="submit" value="$_("Save Concordance")" />
    </div>
</form>


#if $can_annotate
<h3>$_("Store Concordance")</h3>
#if $stored
<div> $_("Concordance stored"): <b>$stored</b></div>
#end if
<form action="storeconc">
    #filter None
    $input_hidden
    #end filter
    $_("Concordance name"): <input type="text" name="storeconcname" value="$lemma" size="20" /><br/>
    <div class="buttons">
        <input class="submit" type="submit" value="$_("Store Concordance For Annotation")" />
    </div>
</form>
#end if
#end filter
#end def
