#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
KonText - $getVar('page_title', '') ($_("Save Frequency List").lower())#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function (savefreqForm, conf) {
    ## conf object is defined within document.tmpl
    conf.files_path = '${files_path}';
    savefreqForm.init(conf);
});
#end def

#def main
#filter WebSafe
<section>
    <h2>$_("Save Frequency list")</h2>
    <form action="savefreq">
        #filter None
        $input_hidden
        #end filter
        #for $f in $FCrit
          <input type="hidden" name="fcrit" value="$f.fcrit" />
        #end for
        #set $paging = 0
        #if $len($FCrit) == 1
          #set $paging = 1
        #end if
        <input type="hidden" name="freq_sort" value="$freq_sort" />
        <input type="hidden" name="ftt_include_empty" value="$ftt_include_empty" />
        <input type="hidden" name="ml" value="$ml" />
        <input type="hidden" name="flimit" value="$flimit" />

        <table class="form">
          <tr>
            <th>$_("Save frequency list as"):</th>
            <td>
              <label>
                  <input type="radio" name="saveformat" value="csv"
                  #if $saveformat == 'csv'
                  checked="checked"
                  #end if
                  /> CSV
              </label>
              <label>
                  <input type="radio" name="saveformat" value="xlsx"
                  #if $saveformat == 'xlsx'
                  checked="checked"
                  #end if
                  /> XLSX (Excel)
              </label>
              <label>
                <input type="radio" name="saveformat" value="xml"
                #if $saveformat == 'xml'
                  checked="checked"
                #end if
                /> $_("XML")
              </label>
              <label>
                <input type="radio" name="saveformat" value="text"
                #if $saveformat == 'text'
                  checked="checked"
                #end if
                /> $_("Text")
              </label>
            </td>
          </tr>
          <tr class="separator">
            <th>$_("Include heading"):</th>
            <td><input type="checkbox" name="heading" value="1" checked="checked" /></td>
          </tr>
          <tr class="separator">
            <th>$_("Include column headers"):</th>
            <td><input type="checkbox" name="colheaders" value="1" checked="checked" /></td>
          </tr>
          <tr>
            <th>$_("Lines to store"):</th>
            <td>
                #if not $is_multiblock
                $_('from'):  <input type="text" name="from_line" value="$from_line" size="4" />
                $_('to'): <input type="text" name="to_line" value="$to_line" size="4" />
                #else
                $_('from'):  <input type="text" value="$from_line" size="4" disabled="disabled" />
                <input type="hidden" name="from_line" value="1" />
                $_('to'): <input type="text" value="$to_line" size="4" disabled="disabled" />
                <input type="hidden" name="to_line" value="" />
                <p class="notification">($_('Line range cannot be specified as the data contain multiple blocks. All the respective lines will be stored.'))</p>
                #end if
            </td>
           </tr>
        </table>

        <div class="buttons">
        <input type="submit" class="default-button" value="$_("Save Frequency List")" id="submit" />
        </div>
    </form>
</section>
#end filter
#end def
