#*
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
$_("Subcorpus Info")#slurp
#end def


#def bodyonload
require(['tpl/stats', 'conf', 'domReady!'], function(pageSelf, conf) {
    pageSelf.init(conf);
});
#end def

#def main
<h2>$_('System usage statistics')</h2>


<form id="stats-filter" method="GET">
    <dl>
        <dt>$_('from date') (yyyy-mm-dd):</dt>
        <dd><input type="text" name="from_date" value="$from_date" size="12" /></dd>

        <dt>$_('to date') (yyyy-mm-dd):</dt>
        <dd><input type="text" name="to_date" value="$to_date" size="12" /></dd>

        <dt>$_('min. occurences'):</dt>
        <dd><input type="text" name="min_occur" value="$min_occur" size="4" /></dd>
    </dl>
    <button type="submit">$_('Filter')</button>
    <button id="clear-filter-form-button" type="button">$_('Clear form')</button>
</form>

<h2>$_('Daily usage')</h2>

<table border="0">
    #for $item in $stats.date_counts
    <tr>
        <td>
            $item[0]
        </td>
        <td>
            #set $size = float($item[1]) / $minmax['date_counts'][1] * 100
            <div style="background-color: #abcdef; width: ${size}px">$item[1]&nbsp;</div>
        </td>
    </tr>
    #end for
</table>

<h2>$_('Users')</h2>

<table border="0">
    #for $item in $stats.user_counts
    <tr>
        <td>
            $item[0]
        </td>
        <td>
            #set $size = float($item[1]) / $minmax['user_counts'][1] * 100
            <div style="background-color: #abcdef; width: ${size}px">$item[1]&nbsp;</div>
        </td>
    </tr>
    #end for
</table>

<h2>$_('Corpora')</h2>

<table border="0">
    #for $item in $stats.corpora_counts
    <tr>
        <td>
            $item[0]
        </td>
        <td>
            #set $size = float($item[1]) / $minmax['corpora_counts'][1] * 100
            <div style="background-color: #abcdef; width: ${size}px">$item[1]&nbsp;</div>
        </td>
    </tr>
    #end for
</table>

<h2>$_('Query types')</h2>

<table border="0">
    #for $item in $stats.query_type_counts
    <tr>
        <td>
            $item[0]
        </td>
        <td>
            #set $size = float($item[1]) / $minmax['query_type_counts'][1] * 100
            <div style="background-color: #abcdef; width: ${size}px">$item[1]&nbsp;</div>
        </td>
    </tr>
    #end for
</table>


#end def