#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from cmpltmpl.document import document
#extends document

#def title
$_("Subcorpus Info")#slurp
#end def

#def bodyonload
require(['tpl/subcorp'], function(pageSelf) {
    pageSelf.init(conf);
});
#end def

#def main
#filter WebSafe
<form id="subcorpform" action="subcorp">
    <input type="hidden" name="delete" value="true" />

    <table class="form">
        ## corpus selection field
        #filter None
        $corp_sel_node
        #end filter

        <tbody>
        <tr>
            <th>$_("Subcorpora"):</th>
            <td>
                #if $SubcorpList
                <select name="subcname" id="subcname"
                        size="#if len($SubcorpList) < 4 then 4 else min(len($SubcorpList), 25)#">
                    #for $s in $SubcorpList
                    #set $selected = ($s.n == $subcname) and 'selected="selected"' or ''
                    <option $selected>$s.n</option>
                    #end for
                </select>
                #else
                    <select size="4" disabled="disabled">
                    <option>&lt;$_("no subcorpus")&gt;</option>
                    </select>
                #end if
            </td>
            <td id="subcorpinfo">
                #if $subcsize
                <strong class="subc-name">$subcname</strong> - $_('size information'):<br />
                <strong class="subc-size">$subcsize</strong>
                <em>$_("of")</em> <span class="corp-size">$corpsize</span> $_('tokens')
                #end if

                #if $SubcorpList and not $_anonymous
                <div class="buttons">
                    <input type="submit" value="$_("Delete Selected")" />
                </div>
                #end if

            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2">
                #if not $_anonymous
                <i><a href="subcorp_form?$corpname_url">$_("create new")</a></i>
                #end if
            </td>
        </tr>
        </tbody>
    </table>
</form>

#end filter
#end def
