#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from cmpltmpl.document import document
#from templating.filters import *
#extends document
#def body
#if $varExists('_ca_topbar')
$_ca_topbar
#else
<script type="text/javascript">
require(['domReady!', 'popupbox'], function (domReady, popupbox) {
    var msg1 = '$_('Positions are basic units for searching the corpus that correspond to tokens: every single occurrence of a word form, number or punctuation symbol in the corpus constitutes a position. Corpus size in positions given by the search interface is therefore higher than corpus size in number of words given on the <a href="http://www.korpus.cz/english/struktura.php" target="_blank">ICNC web pages</a>, where only postions containing at least one alphabetic character are considered.')',
        msg2 = function (updatedElement) {
            new Ajax.Request('ajax_get_corp_details?corpname=$corpname', {
                method : 'get',
                onSuccess : function (transport) {
                    updatedElement.update(transport.responseText);
                },
                onFailure : function () {
                    updatedElement.update('$_('Failed to load corpus information.')');
                }
            });
        };

    \$('positions-help-link').observe('click', function (event) {
        popupbox.createPopupBox(event, 'positions-help', 'toolbar-info', msg1);
        event.stop();
    });
    \$('corpus-desc-link').observe('click', function (event) {
        popupbox.createPopupBox(event, 'corpus-details-box', 'corpus-desc-link', msg2, {
            'height' : 'auto',
            'width' : 'auto'
        });
        event.stop();
    });
});
</script>
#filter WebSafe
<form id="help-search-form" action="" onsubmit="hideElem.cmdHelp('https://trac.sketchengine.co.uk/');">
<table id="topbar">
  <tr>
    <td rowspan="2">
      <a href="$_home_url">
        <img id="logo" alt="$_("Sketch Engine")" src="$files_path/img/${css_prefix}logo.png" />
      </a>
    </td>
    <td id="topbar-navigation">
            $_("Search")
            <input type="text" id="searchhelp" />
            $_("in")
            <a href='https://trac.sketchengine.co.uk/' onclick="hideElem.cmdHelp('https://trac.sketchengine.co.uk/');return false;">$_("Help")</a>
    </td>
  </tr>
</table>
</form>

<form id="corpus-search-form" action="simple_search">
<table id="toolbar">
  <tr>
    <td id="toolbar-info">
    <ul>
      <li>$_("User"): <strong>$_user</strong></li>
      <li>$_("Corpus"): <a id="corpus-desc-link" class="corpus-desc" href="#" title="$_('click for details')"><strong>$corp_full_name</strong></a></li>
      #if $corp_description
        <li>$_('Description'):
            #if $corp_web#<a class="corpus-desc" href="$corp_web" target="_blank" title="$_('click for detailed description')">#end if#
            <strong>$corp_description</strong>
            #if $corp_web#</a>#end if#
        </li>
      #end if
      #if $corp_size
        <li>$_('Size'): <strong>$corp_size</strong> <sup><a id="positions-help-link" href="#">?</a></sup></li>
      #end if
      #if $usesubcorp
      <li>$_('Subcorpus'): <strong>$usesubcorp</strong> ($subcorp_size)</li>
      #end if
    #if $concsize
      <li>$_('Hits'): <strong>#filter $IntegerFormatter# $concsize #end filter#</strong></li>
      #if $concarf
        <li>($concarf)</li>
      #end if
    #end if
    </ul>
        
    </td>
  </tr>
</table>
</form>
#end filter
#end if

<hr class="hidden" />
$container
#end def
