#from cmpltmpl.document import document
#extends document

#def body
#if $varExists('_ca_topbar')
$_ca_topbar
#else
<script type="text/javascript">
var msg = '$_('Positions are basic units for searching the corpus that correspond to tokens: every single occurrence of a word form, number or punctuation symbol in the corpus constitutes a position. Corpus size in positions given by the search interface is therefore higher than corpus size in number of words given on the <a href="http://www.korpus.cz/english/struktura.php" target="_blank">ICNC web pages</a>, where only postions containing at least one alphabetic character are considered.')';
document.observe('dom:loaded', function () {
    \$('positions-help-link').observe('click', function (event) {
        var newElem;
        if (\$('positions-help')) {
            \$('positions-help').remove();

        } else {
            newElem = Element.extend(document.createElement('div'));
            newElem.writeAttribute('id', 'positions-help');
            newElem.update(msg);
            newElem.setStyle({
                padding : '5px 8px',
                position : 'absolute',
                left : '100%',
                marginLeft : '-638px',
                top : 0,
                border : '1px solid #DDD',
                color : '#333',
                backgroundColor : '#FFF',
                width : '620px',
                height: '70px'
            });
            \$('toolbar-info').insert({ after : newElem });
        }
        event.stop();
    });
    Event.observe(document, 'click', function (event) {
        if (\$('positions-help')) {
            \$('positions-help').remove();
        }
    });
});
</script>
#filter WebSafe
<form id="help-search-form" action="" onsubmit="cmdHelp('https://trac.sketchengine.co.uk/');">
<table id="topbar">
  <tr>
    <td rowspan="2">
      <a href="$_home_url">
        <img id="logo" alt="$_("Sketch Engine")" src="$files_path/img/${css_prefix}logo.png" />
      </a>
    </td>
    <td id="topbar-navigation">
            $_("Search")
            <input type="text" id="searchhelp" />
            $_("in")
            <a href='https://trac.sketchengine.co.uk/' onclick="cmdHelp('https://trac.sketchengine.co.uk/');return false;">$_("Help")</a>
    </td>
  </tr>
</table>
</form>

<form id="corpus-search-form" action="simple_search">
<table id="toolbar">
  <tr>
    <td id="toolbar-info">
    <ul>
      <li>$_("User"): <strong>$_user</strong></li>
      <li>$_("Corpus"): <strong>$corp_full_name</strong></li>
      #if $corp_description
        <li>$_('Description'): #if $corp_web# <a class="corpus-desc" href="$corp_web" target="_blank">#end if#
            <strong>$corp_description</strong>#if $corp_web#</a>#end if#
        </li>
      #end if
      #if $corp_size
        <li>$_('Size'): <strong>$corp_size</strong> <sup><a id="positions-help-link" href="#">?</a></sup></li>
      #end if
      #if $usesubcorp
      <li>$_("Subcorpus"): <strong>$usesubcorp</strong></li>
      #end if
    #if $concsize
      <li>$_("Hits"): <strong>$concsize</strong></li>
      #if $concarf
        <li>($concarf)</li>
      #end if
    #end if
    </ul>
        
    </td>
    <td id="corpus-search">
      <input type="submit" value="$_("Search")" />
      <input type="text" name="iquery" value="$iquery" id="ssearch_query" />
      $_("in")
      #filter None
      $corp_sel(onchange=False)
      #end filter
    </td>
  </tr>
</table>
</form>
#end filter
#end if

<hr class="hidden" />
$container
#end def
