#from cmpltmpl.leftmenu import leftmenu
#extends leftmenu

#def title
#end def

#def bodyonload
var tagLoader = createTagLoader('$corpus_name');
var selList = \$\$('select.tag-position');
selList.each(function (item, idx) {
    \$('position-sel-' + idx).observe('focus', function (event) {
        if (tagLoader.getNumberOfSelectedItems(selList) === 0
            || tagLoader.getNumberOfSelectedItems(selList) === 1 && event.element().getValue() !== '-') {
            tagLoader.loadSinglePositionVariants(idx, function (data) {
                tagLoader.updateFormValue(event.element(), data);
            });
        }
    });
    \$('position-sel-' + idx).observe('click', function (event) {
        var currPattern;
        if (event.element().nodeName !== 'SELECT') {
          currPattern = tagLoader.encodeFormStatus(selList);
          if (currPattern !== tagLoader.lastPattern) {
              tagLoader.loadPatternVariants(currPattern, function (data) {
                  tagLoader.updateFormValues(selList, event.element(), data);
                  tagLoader.lastPattern = currPattern;
              });
          }
        }
    });
});
console.log('test...');
#end def

#def main

<h1>Tag query builder test</h1>
<form>
    <table border="1">
        <tr>
            #for i in range($num_tag_pos)
            <td>
                <select class="tag-position" id="position-sel-$i">
                    <option>-</option>
                </select>
            </td>
            #end for
        </tr>
    </table>
</form>


<form action="" method="get">
    <input id="test-input" type="text" name="query" />
</form>
#end def