#from cmpltmpl.leftmenu import leftmenu
#extends leftmenu

#def title
#end def

#def bodyonload
attachTagLoader(\$\$('select.tag-position'),'$corpus_name', 'reset-button', 'back-button', 'tag-display', 'hidden-input');
#end def

#def main

<h1>Tag query builder test</h1>
<div id="tag-display" style="font-size: 25pt; font-family: 'Courier New', Courier, monospace"></div>
<form>
    <input type="hidden" name="ans-value" id="hidden-input" />
    <table border="0">
        <tr>
            <td colspan="2">
                <button id="reset-button" type="button">reset</button>
                <button id="back-button" type="button">back</button>
            </td>
        </tr>
        <tr>
            <th>pozice</th>
            <th>hodnota</th>
        </tr>
        #for i in range($num_tag_pos)
        <tr>
            <td>$(i + 1)</td>
            <td style="width: 100px">
                <select class="tag-position" id="position-sel-$i">
                    <option value=".">.</option>
                </select>
            </td>
        </tr>
        #end for
    </table>
</form>
#end def