#from cmpltmpl.leftmenu import leftmenu
#extends leftmenu

#def title
$_("Password settings")#slurp
#end def

#def main
<h1>$_("Password settings")</h1>

<form action="user_password" method="post">
    <fieldset>
    <table class="form">
        <tbody>
            <tr class="required">
                <th>$_('Current password'):</th>
                <td><input type="password" name="curr_passwd" /></td>
            </tr>
            <tr class="required">
                <th>$_('New password'):</th>
                <td><input type="password" name="new_passwd" /></td>
            </tr>
            <tr class="required">
                <th>$_('New password again'):</th>
                <td><input type="password" name="new_passwd2" /></td>
            </tr>
        </tbody>
    </table>
        <p>$_('After a successful password update, you will be logged out and prompted to enter your new credentials.')</p>
        <button type="submit">$_('Save')</button>
    </fieldset>

</form>

#end def