#from cmpltmpl.leftmenu import leftmenu
#extends leftmenu

#def title
$_("Password settings")#slurp
#end def

#def main
<h1>$_("Password settings")</h1>

<p>$_('Your password has been changed successfully.')</p>


#end def