#from cmpltmpl.leftmenu import leftmenu
#extends leftmenu

#def title
$_("Password change")#slurp
#end def

#def main
<h1>$_("Password change")</h1>

<p>$_('Your password has been changed successfully.')</p>


#end def