#*
Copyright (c) 2003-2009  Pavel Rychly
Copyright (c) 2013 Institute of the Czech National Corpus

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
$_("View")#slurp
#end def

#def bodyonload
require(['jquery', '${client_model_dir}/document', 'conf'], function (\$, viewAttrs, conf) {
    viewAttrs.init(conf);
});
#end def

#def main
<section>
    #filter WebSafe
    <h2>$_("General concordance view options")</h2>
    <p>$_('Following settings apply for all the corpora.')</p>
    <form id="mainform" action='viewoptsx'>

    #filter None
    $input_hidden
    #end filter
    <input type='hidden' name='fromp' value='$fromp' />

    <fieldset>
        <legend>$_('Result range and paging')</legend>
        #try
          #set $nic = $gdexcnt
        #except
          #set $gdexcnt = ''
        #end try
        <input type="hidden" name="gdex_enabled" value="0" />

        <table  class="results-range-and-paging">
            <tr>
                <th>$_("Page size (number of lines)"):</th>
                <td><input type="text" name="pagesize" value='$pagesize' size="4" /></td>
            </tr>
            <tr>
                <th>$_("KWIC Context size (positions)"):</th>
                <td><input type="text" name="newctxsize" value='$newctxsize' size="4" />
                    <input type="hidden" name="ctxunit" value="@pos" />
                </td>
            </tr>
            <tr>
                <th>$_("Number of lines to be sorted"):</th>
                <td>
                    <input type="text" name="gdexcnt" value="$gdexcnt" size="4" />
                </td>
            </tr>
        </table>
    </fieldset>

    <a name="other-options"></a>
    <fieldset>
        <legend>$_('Other options')</legend>

        <input type="hidden" name="shuffle" value="0" />
        <input id="always-shuffle" type="checkbox" name="shuffle" value="1" #if $shuffle#checked="checked"#end if# />
        <label for="always-shuffle">$_("Shuffle concordance lines by default")</label>
        <br />
        ($_('no effect to current concordance')) <br />
        <input type="hidden" name="copy_icon" value="0" />
    </fieldset>

    <div class="buttons">
        <input type="submit" class="default-button" value='$_("Apply View Options")' />
    </div>
    </form>

    #end filter
</section>
#end def
