#*
Copyright (c) 2017 Charles University in Prague, Faculty of Arts,
                   Institute of the Czech National Corpus
Copyright (c) 2017 Tomas Machalek <tomas.machalek@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#
#from translation import ugettext as _
#from templating.filters import *
#from cmpltmpl.document import document
#extends document

#def title
KonText - $getVar('page_title', '') ($_('Concordance').lower())#slurp
#end def

#def headers

#if $righttoleft
<style>
#conclines .lc, #conclines .kw, #conclines .rc, #conclines  .rtl, #conclines .par {
    unicode-bidi: embed;
    direction: rtl;
}
#conclines .strc {
    direction: ltr;
}
.QueryOpInfo .args {
   unicode-bidi: embed;
}
</style>
#end if
#end def

#def bodyonload
__conf.replicableQuery = #if $getVar('replicable_query', False)#true#else#false#end if#;
__conf.concLineMaxGroupNum = $conc_line_max_group_num;
__conf.WideCtxGlobals = $to_json($widectx_globals);
__conf.CorporaColumns = $to_json($CorporaColumns);
__conf.KWICCorps = $to_json($KWICCorps);
__conf.ViewMode = $to_json($viewmode);
__conf.AttrAllpos = $to_json($attr_allpos);
__conf.AttrViewMode = $to_json($attr_vmode);
__conf.ShowLineNumbers = #if $line_numbers#true#else#false#end if#;
__conf.Pagination = $to_json($pagination);
__conf.FromPage = #if $fromp#$fromp#else#0#end if#;
__conf.Lines = $to_json($Lines);
__conf.SortIdx = $to_json($Sort_idx);
__conf.ConcSize = $to_json($concsize);
__conf.ConcCacheKey = $to_json($conc_cache_key);
__conf.FullSize = $to_json($fullsize);
__conf.SampledSize = $to_json($sampled_size);
__conf.ResultIpm = $to_json($result_relative_freq);
__conf.ResultArf = #if $result_arf#$result_arf#else#null#end if#;
__conf.ResultShuffled = $to_json($result_shuffled);
__conf.NumLinesInGroups = $to_json($num_lines_in_groups);
__conf.LinesGroupsNumbers = $to_json($lines_groups_numbers);
__conf.SpeakerIdAttr = $to_json($speaker_id_attr);
__conf.SpeechOverlapAttr = $to_json($speech_overlap_attr);
__conf.SpeechOverlapVal = $to_json($speech_overlap_val);
__conf.SpeechAttrs = $to_json($speech_attrs);
__conf.SpeechSegment = $to_json($speech_segment);
__conf.StructCtx = $to_json($struct_ctx);
__conf.ConcUseSafeFont = $to_json($conc_use_safe_font);
__conf.ChartExportFormats = $to_json($chart_export_formats);
__conf.TTCrit = $to_json($ttcrit);
## query form
__conf.textTypesData = $to_json($text_types_data);
__conf.Wposlist = $to_json($Wposlist);
__conf.ConcFormsArgs = $to_json($conc_forms_args);
__conf.NumQueryOpSteps = $len($query_overview);
__conf.ConcFormsInitialArgs = $to_json($conc_forms_initial_args);
__conf.SubcorpList = $to_json($SubcorpList);
__conf.CurrentSubcorp = $to_json($usesubcorp);
__conf.ShuffleConcByDefault = $to_json($shuffle);
__conf.Lposlist = $to_json($Lposlist);
__conf.ForcedAttr = $to_json($getVar('force_cql_default_attr', None));
__conf.DefaultAttr = $to_json($default_attr);
__conf.AttrList = $to_json($getVar('AttrList', []));
__conf.StructAttrList = $to_json($getVar('StructAttrList', []));
__conf.StructList = $to_json($getVar('StructList', []));
__conf.InputLanguages = $to_json($input_languages);
__conf.FreqFormProps = $to_json($freq_form_args);
__conf.CTFreqFormProps = $to_json($ctfreq_form_args);
__conf.CollFormProps = $to_json($coll_form_args);
__conf.FastAdHocIpm = $to_json($fast_adhoc_ipm);
__conf.ConcDashboardModules = $to_json($conc_dashboard_modules);
__conf.UseCQLEditor = $to_json($bool($cql_editor));
__conf.QuickSaveRowLimit = $to_json($quick_save_row_limit);
##
__conf.QueryHistoryPageNumRecords = $to_json($query_history_page_num_records);

#if $running_calc
__conf.numLines = $len($Lines);
__conf.Unfinished = true;
#else
__conf.Unfinished = false;
#end if
viewPage.init(__conf);
#end def


#def concordance
<a id="download-link" style="display:none"></a>
<div id="conc-dashboard-mount">
    <div id="conc-top-bar"><div class="info-level">-</div></div>
    <img class="root-loader" src="${files_path}/img/ajax-loader.gif" title="$_('Loading...')" alt="$_('Loading...')" />
    <div id="conc-bottom-bar">-</div>
</div>
#end def