#*
Copyright (c) 2003-2009  Pavel Rychly

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*#

#from translation import ugettext as _
#from cmpltmpl.document import document
#extends document

#def title
$_("Word List Form")#slurp
#end def

#def bodyonload
require(['${client_model_dir}/${page_model}', 'conf'], function (wordlistForm, conf) {
    conf.wltype = "$wltype";
    conf.SubcorpList = $to_json($SubcorpList);
    wordlistForm.init(conf);
});
#end def

#def main
#filter WebSafe
<section>
    <h2>$_("Word list")</h2>
    <form action="$create_action('wordlist')" id="wordlist_form" method="post" enctype="multipart/form-data">
      <input type="hidden" name="wlmaxitems" value="100" />
      <input type="hidden" name="wlsort" value="f" />
      <input type="hidden" name="subcnorm" value="freq" />
      <input id="hidden-subcorp-sel" type="hidden" name="usesubcorp" />
    <table class="form">
        <tr>
            <td colspan="2">
                <table id="corpus-select-mount"></table>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend>$_("Filter wordlist by")</legend>
        <table class="form">
        <tr>
            <td id="srch-attrib-label">$_("Search attribute"):</td>
            <td>
                <select class="wlattr-sel" name="wlattr">
                <optgroup label="Positional Attributes">
                #for $a in $AttrList
                #set $selected = ($a.n == $wlattr) and 'selected' or ''
                <option value="$a.n" $selected>$a.label</option>
                #end for
                </optgroup>
                <optgroup label="Text Types">
                #for $a in $StructAttrList
                #set $selected = ($a.n == $wlattr) and 'selected' or ''
                <option value="$a.n" $selected>$a.label</option>
                #end for
                </optgroup>
                </select>
            </td>
        </tr>
        <tr>
          <td title="$_('Regular expression pattern')">$_("RE pattern"):</td>
          <td><input type="text" name="wlpat" size="50" value="$wlpat" id="wlpat" /></td>
        </tr>
        <tr>
          <td>$_("Minimum frequency"):</td>
          <td><input type="text" name="wlminfreq" size="10" value="$wlminfreq" /></td>
        </tr>
        <tr>
          <td>$_("Whitelist"):</td>
          <td><input type="file" name="wlfile" size="30" id="wlfile" /></td>
        </tr>
        <tr>
          <td>$_("Blacklist"):</td>
          <td><input type="file" name="wlblacklist" size="30" id="wlblacklist" />
            <a id="show-help-format-link" href="">
                <img src="${files_path}/img/info-icon.svg" alt="info" />$_("required file format")</a>
            <td></td>
          </td>
        </tr>
        <tr>
            <td colspan="2">
            #set $checked = $int($include_nonwords) and 'checked' or ''
            <label><input type="checkbox" name="include_nonwords" value="1" $checked />$_("Include non-words")</label>
            </td>
         </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>$_('Output options')</legend>
        <table>
            <tr>
                <td>$_('Frequency figures'):</td>
                <td>
                <ul class="wl-option-list">
                    <li><input type="radio" checked="true" value="frq" name="wlnums" id="wlnums_freq"><label for="wlnums_freq">$_('Word counts')</label></li>
                    <li><input type="radio" value="docf" name="wlnums" id="wlnums_docf"><label for="wlnums_docf">$_('Document counts')</label></li>
                    <li><input type="radio" value="arf" name="wlnums" id="wlnums_arf"><label for="wlnums_arf">$_('ARF')</label></li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>$_('Output type'):</td>
                <td class="output-types">
                    <ul class="wl-option-list">
                        <li>
                            <label><input class="wltype-sel" type="radio" name="wltype" value="simple" checked="checked" /> $_('Single attribute')</label>
                            ($_('currently') <strong class="current-wlattr"></strong>)
                        </li>
                        <li>
                            <label><input class="wltype-sel" type="radio" name="wltype" value="multilevel" /> $_('Multiple attributes')</label>:
                            #for $i in $range(1,4)
                            <select class="wlposattr-sel" name="wlposattr$i" id="wlposattr$i">
                                <option value="">---</option>
                                #for $a in $AttrList#<option value="$a.n" $selected>$a.label</option>#end for#
                            </select>
                            #end for
                            <p class="hint">$_("You can select one or more output attributes. Please note that this option can be time-consuming.")</p>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </fieldset>

    <div class="buttons">
    <input class="submit default-button" type="submit" value="$_("Make Word List")" />
    </div>
    </form>
</section>
#end filter

#end def
