#conclines{
    width : 100%;
    font-size: 100%;
    background-color: white;
}

/* concordance formating */
.ref {
	white-space:nowrap;
	cursor: pointer;
	color: blue;
	font-weight: bold;
}
.lc {
	text-align: right; 
	white-space:nowrap;
	padding-right: 0.1em;
        border-right: 0px !important;
}
.rc {
	text-align: left; 
	white-space:nowrap;
	padding-left: 0.3em;
        border-right: 0px !important;
}
.kw {
	text-align: center; 
	white-space:nowrap;
        width: 1px;
        border-right: 0px !important;
}
.coll {
	color: red;  
	font-weight: bold; 
        /*text-decoration: underline;*/ 
	cursor: pointer;
}
.strc {
	color: green;
}
.attr {
	font-size: small;
	position: relative;
	bottom: -0.3em;
	z-index: 0
}


/* detail frame */
#detailframe  {
  position: absolute;
  overflow: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 99%;
  display: none;
  border: 2px solid #000;
  background-color: #fff;
}

#detailframe img {
  float: left;
}

#detailframe a {
  font-size: small;
}

#detailframecontent {
   margin-left: 15px;
}

tr.even {
   background-color: #ddd;
}

.par {
	padding: 2px;
}

.with_tickbox {
	padding: 4px;
}

/* concordance annotation */
tr.selected {
	background-color: #bdb;
}
tr.highlight {
	background-color: #bfb;
}
tr.highlight td {
	border-top: 1px dashed #484;
	border-bottom: 1px dashed #484;
}

#groupmenu td:hover {
	background-color: #6c6;
}
#groupmenu {
	padding: 5em;
	margin: -5em;
        position:absolute;
        visibility: hidden;
        cursor: default;
}
#groupmenu table {
	background-color: #bfb;
        border: solid 1px green;
	padding: 3px;
}
#groupmenu td {
	padding: 0 5px 0 5px;
}
.grp {
	background-color: #6c6; 
	cursor: pointer; 
	padding: .1em;
	margin-left: 2px
} 
.groupbox {
	color: black; 
	background-color: lightgreen; 
	font-weight: normal;
      	border:solid 1px green;
	cursor: pointer;
}
#annot_undo {
	background-color: #f88; 
	padding: 1px 0.6em 1px 0.6em
}

a.speech-link {
    font-size: 120%;
    color: #9ce;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0.1em 0 0.1em;
}

a.speech-link:hover {
    background-color: #9ce;
    color: #FFF;
}

#audio-wrapper {
    position: absolute;
    width: 460px;
    left: 50%;
    margin-left: -230px;
}