@import './shared/globals.less';

.IntervalGroupVisualisation {

    .grid line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
    }

    h2.top {
        text-align: center;
        padding-bottom: 0.7em;
    }

    .tooltip {
        position: absolute;
        background-color: @color-logo-blue;
        color: #FFFFFF;
        box-shadow: @portal-box-shadow;
        border-radius: @input-border-radius;
        padding: 0.1em 1em;
        opacity: 0.4;
    }

    .chart-help {

        width: 40em;

        img {
            display: inline-block;
            padding-right: 0.3em;
            vertical-align: top;
        }
    }
}



.warn() {
    float: left;
    font-weight: bold;
    background-image: url(../img/warning-icon.svg);
    background-repeat: no-repeat;
    background-size: 1.1em 1.1em;
    width: 1.1em;
}


div.CT2dFreqResultView {

    table.ct-data {

        margin-top: 3em;
        border-spacing: 0;

        th {
            padding: 0.3em 0.7em;
            background-color: @color-default-green;
            font-weight: normal;
        }

        th.highlighted {
            color: @color-default-text;
            background-color: @color-green-bg-highlighted;
        }

        th.vert.highlighted {
            span {

                padding: 0.3em 0.7em;
                display: inline-block;
            }
        }

        td a.visualisation {
            text-align: center;

            img {
                width: 1em;
            }
        }

        th a.visualisation-r {
            display: inline-block;
            margin-left: 0.7em;
            vertical-align: middle;

            img {
                width: 1em;
            }
        }

        td.icon {
            background-color: @color-default-green;
            text-align: center;
        }

        th a:hover {
            text-decoration: none;
        }

        th.vert {
            text-align: right;
        }

        td {
            border: 1px solid @color-light-frame;
            padding: 0.3em 0.7em;
        }

        td.data-cell {
            text-align: right;

            a {
                display: inline-block;
                text-decoration: none;
            }

            a.conc {
                text-decoration: underline;
            }

            a:hover {
                text-decoration: underline;
            }

            .warn {
                .warn();
            }

            .menu {
                font-weight: normal;

                table {
                    td, th {
                        background-color: transparent;
                        border: none;
                    }

                    td input {
                        background-color: @color-bg-light-blue;
                        border: @input-border-style;
                        border-radius: @input-border-radius;
                    }

                    td input.highlighted {
                        color: @color-logo-pink;
                        font-weight: normal;
                    }
                }
            }
        }

        td.data-cell.highlighted a {
            color: @color-default-text;
        }

        td.highlighted {
            background-color: @color-green-bg-highlighted;
            color: #ffffff;
            font-weight: normal;
        }

        td.empty-cell {
            background-color: transparent;
        }

        th.attr-label {
            background-color: transparent;
            text-align: center;
            font-weight: bold;
            font-size: 110%;

            a {
                color: @color-default-text;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .warning {

        max-width: 40em;

        img {
            display: inline-block;
            width: 1em;
            vertical-align: middle;
            margin-right: 0.3em;
        }
    }
}

div.CTFlatFreqResultView {

    th.sort-col {

        white-space: nowrap;

        a {
            text-decoration: underline;

            img {
                margin-left: 0.7em;
            }
        }

        a:hover {
            text-decoration: none;
        }

    }

    td strong.warn {
        .warn();
    }

}

.CTTableModForm {
    fieldset {
        margin-bottom: 1em;
        line-height: 2.5em;
    }

    p, ul {
        line-height: normal;
    }
}

div.CTFreqResultView {
    margin: 1em;

    .mode-switch {

        text-align: center;
        font-size: 110%;

        a {
            color: @color-logo-blue;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a.current {
            text-decoration: underline;
        }
    }

    div.toolbar {
        margin-bottom: 1em;

        .options {
            a {
                margin-left: 0.7em;
                color: @color-logo-blue;
                text-decoration: none;
            }
        
            a:hover {
                text-decoration: underline;
            }
        
            ul.items {
                list-style-type: none;
                margin: 0;
                padding: 0;
        
                > li {
                    padding: 0;
                    margin: 0 1em 0 0;
                    display: inline-block;
        
                    ul.references {
                        list-style-type: circle;
                    }
                }
            }
        
            fieldset {
        
                h3:first-child {
                    padding-top: 0;
                    margin-top: 0;
                }
        
            }
        }

    }

    sup.hint {
        img {
            width: 0.9em;
        }
        cursor: pointer;
    }
}


ul.ComboActionsSelector {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1em;
    }
}

.bar {
    background-color: @color-logo-blue;
}

.FreqResultView .FilterForm {
    button {
        margin-left: 0.7em;
    }
}

@import "./layoutMobile.less";
@import "~custom-styles/theme.less";