#menu-level-1 li ul {
    display: 'none';
}

#menu-level-1 li {
    padding: 3px 6px;
}

#menu-level-1 li.separator {
    padding: 0;
}

ul.submenu {
    display: none;
}

#menu-bar {
    white-space: nowrap;
    height: 50px;
}

#menu-bar a.trigger {
    color: inherit;
}