@main-background: url(../img/groovepaper2.png);

// texts
@default-font-family: "Open Sans", Verdana, Arial, sans-serif;

@color-default-text: #010101;
@color-light-text: #999999;

@text-shadow: 0 0 2px #A0A0A0;

// general colors

@color-default-green: #D2EDC0;
@color-light-green: #ECF3EA;

@color-logo-pink: #E2007A;
@color-logo-blue: #009EE0;
@color-logo-orange: #F0680B;

@color-bg-light-blue: #E9F7FC;
@color-light-frame: #D2EDC0;

// misc.

@border-radius-default: 6px;
@border-radius-menu: 5px 5px 0 0;
@portal-box-shadow: 0 0 4px #A0A0A0;


// forms

@input-border-style: solid 1px #DADADA;
@input-border-radius: 3px;