@import "shared.less";

#conc-wrapper {
    overflow: hidden;
    border-radius: 9px;
    margin-bottom: 1em;
    margin-top: 1em;
    box-shadow: @portal-box-shadow;

    .root-loader {
        display: block;
        margin: 5em auto;
    }
}

#conc-top-bar,
#conc-bottom-bar {
    padding: 0;
    line-height: 1.8em;
}

#conc-top-bar .info-level::after,
#conc-bottom-bar .info-level::after {
    content: "";
    display: block;
    clear: both;
}

#conc-top-bar,
#conc-bottom-bar {

    background-color: @color-default-green;

    .info-level {
        padding: 0.4em 1em;
        display: block;
    }
}

#conc-bottom-bar.minimized {
    padding: 0px 20px;
}

#conc-top-bar {

    span.separ {
        font-size: 120%;
        font-weight: normal;
        color: #00A8E8;
        padding-left: 0.3em;
        padding-right: 0.3em;
        vertical-align: middle;
    }

    #selection-mode-switch {
        vertical-align: middle;
    }

    .toolbar-level {

        padding: 0.4em 1em;
        clear: both;

        .lines-selection-controls {

            display: inline-block;

            .lines-selection {
                white-space: nowrap;

                img {
                    padding-left: 0.4em;
                    vertical-align: middle;
                    width: 1.2em;
                }
            }
        }

        .conc-toolbar {
            display: inline-block;

            .mouseover-available {
                vertical-align: middle;
                width: 1.2em;
                margin-right: 0.7em;
            }
        }
    }
}

#conclines-wrapper {
    overflow: auto;
    background-color: #FFFFFF;

    img.loader-anim {
        display: block;
        width: 24px;
        height: 24px;
        margin: 2em auto 2em auto;
    }
}

table#conclines {
    background-color: white;
    font-size: 1em;
    font-family: @condensed-font-family;
    border-spacing: 0px;
    padding-bottom: 20px;
    width: 100%;

    .manual-selection {
        padding-right: 0;
        width: 3em;
    }

    .manual-selection input {
        font-size: 0.80em;
        margin: 0;
    }

    .manual-selection input[type="checkbox"] {
        margin-right: 0.5em;
        vertical-align: middle;
    }

    .manual-selection input.error {
        background-color: @color-logo-pink;
    }

    .line-num {
        text-align: right;
        color: @color-light-text;
    }

    tr:nth-child(2n):not(.active) {
        background-color: @color-light-green;
    }

    td {
        line-height: 1.6em;
        padding-right: 0.4em;
        padding-left: 0.4em;
    }

    td:first-child {
        padding-left: 0.2em;
    }

    .group-id {
        font-weight: bold;
        color: @color-logo-pink;
        padding: 0.3em;
    }

    tr .attr {
        font-family: @monospace-font-family;
        font-size: 90%;
        font-weight: bold;
    }
}

td.maincorp {
    background-color: rgba(0, 100, 255, 0.1);
}

/* concordance formating */

.ref {
    font-size: 0.85em;
    white-space: nowrap;
    cursor: pointer;
    color: #009EE0;
    font-weight: bold;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2em;
}

tr.active .ref {
    color: #FFFFFF;
}

.lc {
    text-align: right;
    white-space: nowrap;
    padding-right: 0.1em;
    border-right: 0px !important;
}

.rc {
    text-align: left;
    white-space: nowrap;
    padding-left: 0.3em;
    border-right: 0px !important;
}

.kw {
    text-align: center;
    white-space: nowrap;
}

.coll {
    color: @color-logo-pink;
}

.col0 {
    font-weight: bold;
}

.coll {
    cursor: pointer;
}

i.coll {
    font-style: italic;
    font-weight: normal;
}

.strc {
    color: green;
    font-style: normal;
    font-size: 110%;
}


#query-overview {
    position: fixed;
    bottom: 15px;
    height: auto;
}


#modal-overlay .tooltip-box.conc-detail {
    margin-top: 30%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    max-width: 40em;
    min-width: 30em;
}

.conc-detail {

    .footer {
        padding-top: 1em;
        text-align: center;
        font-size: 80%;
        color: @color-light-text;

        a {
            text-decoration: none;
            color: @color-light-text;
        }
    }

    .footer:hover a {
        text-decoration: underline;
    }

    .ajax-loader {
        display: block;
        margin: 1em auto;
    }

    .view-mode {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul.view-mode {
        list-style-type: none;

        li {
            margin: 0 0 0.7em 0;
            padding: 0;
            display: inline-block;

            a {
                text-decoration: none;
                color: @color-logo-blue;
            }
            a:hover {
                text-decoration: underline;
            }
        }

        li.current {
            a {
                color: @color-logo-pink;
            }
        }

        li:after {
            content: " |\00a0";
        }

        li:last-child:after {
            content: "";
        }
    }

    a.expand.left {
        margin-right: 0.3em;
    }

    table.speeches {

        border-spacing: 0 0.9em;

        tr.speech {
            line-height: 1.2em;

            th {
                font-weight: normal;
                text-align: right;
                white-space: nowrap;
                vertical-align: middle;
            }

            td {
                vertical-align: middle;
            }

            .speaker {
                border: 1px solid @color-light-text;
                border-radius: @input-border-radius;
                display: inline-block;
                vertical-align: middle;
                font-size: 0.8em;
                font-weight: normal;
                padding: 0.05em 0.7em;
            }

            .speech-text {
                display: block;
                margin-left: 1em;
            }

            .speech-text:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            .plus {
                font-weight: bold;
                font-size: 110%;
            }

            .play-audio {
                float: left;
                cursor: pointer;
                vertical-align: middle;
                margin-left: 0.7em;

                img {
                    width: 1.4em;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .overlap {
                float: right;
                width: 1em;
            }
        }

        tr.expand {

            th {
                text-align: right;
                padding-right: 0.2em;

                a {
                    width: 3em;
                    display: inline-block;

                    img {
                        width: 1.4em;
                    }
                }
            }
        }
    }
}

.query-overview {
    padding: 1.5em;
    background-color: #E9F7FC;
}

.query-overview {
    text-align: center;
}

.query-overview h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.5em;
    border-style: solid;
    border-color: @color-default-green;
    border-width: 0 0 1px 0;
}

.query-overview table {
    border-collapse: collapse;
    border: none;
}

.query-overview table th,
.query-overview table td {
    padding: 5px 1em;
}

.query-overview table th {
    color: @color-logo-pink;
    border: none;
}

.query-overview table td {
    text-align: left;
    border: 1px solid @color-default-green;
}

table.full-ref {
    border-spacing: 0;
    border: 1px solid @color-default-green;
    border-radius: @border-radius-default;
    margin: 0.7em auto;
    background-color: #FFFFFF;
}

table.full-ref td,
table.full-ref th {
    padding: 0.3em;
    text-align: left;
}

table.full-ref th {
    padding-left: 1em;
}

table.full-ref td.data {
    padding-right: 1.5em;
}

table.full-ref td.data:not(:last-child) {
    border-color: @color-light-frame;
    border-style: solid;
    border-width: 0 1px 0 0;
}

table.full-ref tr:nth-child(odd) {
    background-color: @color-light-green;
}

.par {
    padding: 2px;
}

/* concordance annotation */
tr.selected {
    background-color: #bdb;
}

tr.highlight {
    background-color: #bfb;
}

tr.highlight td {
    border-top: 1px dashed #484;
    border-bottom: 1px dashed #484;
}

tr.even {
  background-color: @color-light-green;
}

/* spoken corpus */

a.speech-link {
    font-size: 120%;
    color: #9ce;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0.1em 0 0.1em;
}

.active a.speech-link {
    color: #E9F7FC;
}

a.speech-link:hover {
    background-color: #9ce;
    color: #FFF;
}

#audio-wrapper {
    position: absolute;
    display: inline-block;
    z-index: 1000;
}

.audio-controls {
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #767284;
    background-color: #e9f7fc;
    padding: 4px 8px;
    overflow: hidden;
    box-shadow: 3px 3px 4px #aaa;

    a.img-button-play,
    a.img-button-play-b,
    a.img-button-pause,
    a.img-button-pause-b,
    a.img-button-stop,
    a.img-button-stop-b {
        width: 24px;
        height: 24px;
        float: left;
        text-decoration: none;
    }

    a.img-button-play-active {
        animation-name: playBlink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    a.img-button-pause-active {
        animation-name: pauseBlink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    a.img-button-play {
        background-image: url('../img/media_start.png');
    }

    a.img-button-pause {
        background-image: url('../img/media_pause.png');
    }

    a.img-button-stop {
        background-image: url('../img/media_stop.png');
    }

    a.audio-error-confirm {
        text-decoration: none;
        display: block;
        padding: 3px 5px;
        font-weight: bold;
        font-size: 120%;
    }

    a.audio-error-confirm:hover {
        color: #FFFFFF !important;
    }
}

@keyframes playBlink {
    0% {
        background-image: url('../img/media_start.png');
    }
    49% {
        background-image: url('../img/media_start.png');
    }
    50% {
        background-image: url('../img/media_start_b.png');
    }
    99% {
        background-image: url('../img/media_start_b.png');
    }
}

@keyframes pauseBlink {
    0% {
        background-image: url('../img/media_pause.png');
    }
    49% {
        background-image: url('../img/media_pause.png');
    }
    50% {
        background-image: url('../img/media_pause_b.png');
    }
    99% {
        background-image: url('../img/media_pause_b.png');
    }
}

#audio-error-confirm {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

#conclines {
    .concordance-col-heading {
        min-width: 280px;
        text-align: center;
    }

    .select-primary-lang {
        font-size: 110%;
        font-family: "Roboto";
    }

    tr.active {
        background-color: #8AC3DA;
    }
}

.jump-to {
    margin: 5px auto 5px auto;
}

.jump-to select {
    font-size: 80%;
}

#result-info {
    margin: 0;
    float: left;
    width: 80%;
    font-size: 1em;
    font-family: @condensed-font-family;
    line-height: 2.1em;

    #ipm-loader img {
        background-color: white;
        border-radius: 3px;
        padding: 3px 20px;
        opacity: 0.7;
        position: absolute;
    }

    .ipm {
        font-weight: bold;
    }

    sup {
        vertical-align: middle;
        top: -0.4em;
        padding-left: 0.2em;
    }

    .notice-shuffled {
        white-space: nowrap;
    }
}

#selection-actions {

    fieldset {
        legend {
            font-weight: bold;
            padding-right: 0.6em;
        }
        button.ok {
            margin-right: 0.4em;
        }
        input.email {
            margin-right: 0.6em;
        }
        span.arrow {
            font-size: 130%;
            font-weight: bold;
            color: @color-logo-pink;
        }
    }

    .ajax-loader-bar {
        display: inline-block;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .chart-area {
        vertical-align: middle;
        margin-top: 1em;
        min-width: 200px;
        min-height: 200px;

        img.ajax-loader {
            display: block;
            margin-top: 6em;
            margin-left: auto;
            margin-right: auto;
        }

        .chart {
            display: inline-block;
            vertical-align: middle;
        }

        table.chart-label {
            display: inline-block;
            vertical-align: middle;
            padding-left: 1em;
        }

        table.chart-label .color-code {
            display: inline-block;
            width: 1em;
            border-color: @color-frame-fieldset;
            border-width: 1px;
            border-radius: @input-border-radius;
        }

        table td {
            padding-left: 0.4em;
        }

        table td.additional {
            color: @color-light-text;
        }


        table th {
            font-weight: bold;
            padding-left: 0.4em;
        }

        table .num {
            text-align: right;
        }
    }

    .generated-link {
        margin-top: 2em;
        display: block;

        .conc-link {
            display: block;
            background-color: @color-light-grey;
            border: 1px solid @color-light-text;
            padding: 0.2em 0.5em;
            margin-bottom: 1em;
            min-width: 30em;
        }
    }

    h4 {
        font-size: 0.9em;
        margin-top: 0;
        text-align: center;
    }

    .form-item {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
