@import "./shared/globals.less";
@import "./shared/queryForm.less";

#conc-dashboard-mount {

    .ConcordanceDashboard {
        display: grid;
        align-items: flex-start;
        grid-template-columns: minmax(auto, 24em) auto;
        grid-column-gap: 1em;
    }

    .ConcordanceDashboard.collapsed {
        grid-template-columns: 1.3em auto;
        grid-column-gap: 0.5em;

        .ConcExtendedInfo {

            border-radius: 3px;

            header {
                padding: 0;

                a {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    .ConcordanceDashboard.disabled {
        grid-template-columns: auto;
    }

    .ktx-pagination {
        float: right;
        text-align: right;
        width: 20%;
    }

    .ConcordanceView,
    .ConcExtendedInfo {
        overflow: hidden;
        border-radius: 7px;
        margin-bottom: 1em;
        margin-top: 1em;
        box-shadow: @portal-box-shadow;

        > .contents {

            margin: 1em;

            .loader {
                text-align: center;
            }
        }

        .FreqBar:not(:last-child) {
            margin-bottom: 0.7em;
        }

        .FreqBar {

            .data {
                .item {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    height: 0.7em;
                }
            }

            .legend {
                white-space: normal;
                display: inline-block;
                font-size: 0.9em;

                strong {
                    margin-right: 0.7em;
                }

                .item .color-box {
                    padding-right: 0.2em;
                }

                .item:not(:last-child) {
                    padding-right: 0.7em;
                }
            }
        }
    }

    .ConcExtendedInfo {
        display: flex;
        flex-direction: column;

        header {
            display: flex;
            flex-direction: row;
            background-color: @color-default-green;
            padding: 0.4em 0.7em;

            .MinimizeIcon {
                display: inline-block;
                margin-right: 0;

                img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 1.3em;
                }
            }

            h2 {
                flex-grow: 9;
                margin: 0;
            }

        }

        background-color: #FFFFFF;

        .KwicConnectContainer,
        .TextTypesDist {

            p.note {
                margin: 0;
                font-size: 0.85em;
                text-align: right;

                a {
                    color: @color-light-text;
                }

                a:hover {
                    color: @color-logo-pink;
                }
            }
        }

        .Menu {
            text-align: center;

            ul {
                display: inline;
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 0;
                    padding: 0;
                    display: inline-block;
                }

                li:not(:first-child) {
                    margin-left: 0.7em;
                }

                li.active a {
                    text-decoration: none;

                }
            }
        }

        > .contents {
            display: grid;

            > div.box:not(:first-child) {
                margin-top: 1.7em;
            }

            > div.box:first-child h3.block {
                margin-top: 0;
            }

            > div.box {
                align-self: start;
                overflow: hidden;


                .KwicConnectContainer {
                    h3 {
                        margin-top: 0;
                    }

                    .data-not-avail {

                        color: @color-light-text;

                        img {
                            width: 1em;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 0.3em;
                        }
                    }

                    .KwicConnectWidget:not(:first-child) {
                        margin-top: 2em;
                    }
                }

                h3.block {
                    color: @color-default-text;
                    text-align: right;
                    margin-bottom: 0;
                    padding-bottom: 0.2em;
                    font-size: 1.1em;
                    background-color: transparent;

                    img {
                        width: 1.1em;
                        margin-left: 0.3em;
                        margin-right: 0.1em;
                        margin-bottom: 0.15em;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    img.lightbulb {
                        width: 0.9em;
                    }
                }


            }
        }
    }

    .root-loader {
        display: block;
        margin: 5em auto;
    }
}

#conc-top-bar {
    padding: 0.3em 0 0 0;
}

#conc-bottom-bar {
    padding: 0.3em 0 0.3em 0;
}

#conc-top-bar .info-level::after,
#conc-bottom-bar .info-level::after {
    content: "";
    display: block;
    clear: both;
}

#conc-top-bar,
#conc-bottom-bar {

    background-color: @color-default-green;

    .info-level {
        padding: 0.4em 1em;
        display: block;

        .conc-size.unfinished,
        .ipm.unfinished {
            color: @color-light-text;
        }

        .conc-loader {
            display: inline-block;
            vertical-align: middle;
            padding-right: 0.2em;

            img {
                display: inline-block;
                width: 16px;
            }
        }

    }
}

#conc-bottom-bar.minimized {
    padding: 0px 20px;
}

#conc-top-bar {

    span.separ {
        font-size: 120%;
        font-weight: normal;
        color: #00A8E8;
        padding-left: 0.3em;
        padding-right: 0.3em;
        vertical-align: middle;
    }

    #selection-mode-switch {
        vertical-align: middle;
    }

    .toolbar-level {

        padding: 0.4em 1em;
        clear: both;

        .lines-selection-controls {

            display: inline-block;

            .lines-selection {
                white-space: nowrap;

                img {
                    padding-left: 0.4em;
                    vertical-align: middle;
                    width: 1em;
                }
            }
        }

        .conc-toolbar {
            display: inline-block;
        }
    }
}

#conclines-wrapper {
    overflow: auto;
    background-color: #FFFFFF;
    position: relative; // to prevent audio-player x-position mismatch

    img.loader-anim {
        display: block;
        width: 24px;
        height: 24px;
        margin: 2em auto 2em auto;
    }

    .no-data {
        text-align: center;

        img {
            display: inline-block;
            margin: 2em;
        }
    }
}

table#conclines {
    background-color: white;
    font-size: 1em;
    font-family: @condensed-font-family;
    border-spacing: 0px;
    padding-bottom: 20px;
    width: 100%;

    td.manual-selection {
        padding-right: 0.2em;
        width: 3em;
        text-align: right;
    }

    td.manual-selection input {
        font-size: 0.80em;
        margin: 0;
    }

    td.manual-selection input[type="checkbox"] {
        margin-right: 0.5em;
        vertical-align: middle;
    }

    td.manual-selection input.error {
        background-color: @color-logo-pink;
    }

    .line-num {
        text-align: right;
        color: @color-light-text;
    }

    tr:nth-child(2n):not(.active) {
        background-color: @table-even-bg;
    }

    td {
        line-height: 1.6em;
        padding-right: 0.4em;
        padding-left: 0.4em;
    }

    td:first-child {
        padding-left: 0.2em;
    }

    .group-id {
        font-weight: bold;
        padding: 0.3em;
    }

    tr span:not(.ml) .attr {
        font-size: 90%;
        font-weight: bold;
        font-family: @monospace-font-family;
    }

    mark {
        background-color: transparent;
    }

    mark.active {
        cursor: pointer;
    }
}

table#conclines.safe {
    font-family: sans-serif;
}

td.maincorp {
    background-color: rgba(0, 100, 255, 0.1);
}

/* concordance formating */

.ref  {

    a {
        text-decoration: none;
        font-size: 0.85em;
        white-space: nowrap;
        cursor: pointer;
        color: #009EE0;
        font-weight: bold;
        max-width: 12em;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 2em;

        .item:not(:last-child)::after {
            content: " \2726 ";
        }
    }
}

tr.active .ref {
    color: #FFFFFF;
}

.lc {
    text-align: right;
    white-space: nowrap;
    padding-right: 0.1em;
    border-right: 0px !important;
}

.rc {
    text-align: left;
    white-space: nowrap;
    padding-left: 0.3em;
    border-right: 0px !important;
}

.kw {
    text-align: center;
    white-space: nowrap;
}

.coll {
    color: @color-logo-pink;
}

em.coll {
    cursor: text;
}

.col0 {
    font-weight: bold;
}

.coll {
    cursor: pointer;
}

i.coll {
    font-style: italic;
    font-weight: normal;
}

.strc {
    color: green;
    font-style: normal;
    font-size: 110%;
}


#query-overview {
    position: fixed;
    bottom: 15px;
    height: auto;
}


.tooltip-box.conc-detail,
.tooltip-box.refs-detail {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
}

.tooltip-box.refs-detail {
    min-width: 40em;
    max-height: 80%;
    display: flex;

    .wrapper {
        overflow-x: auto;
        overflow-y: auto;
    }

}

.tooltip-box.conc-detail {
    max-width: 40em;
    min-width: 30em;
    max-height: 80%;
}

.tooltip-box.conc-detail.custom {
    max-width: 60em;
}

.conc-detail {

    .footer {
        padding-top: 1em;
        text-align: center;
        font-size: 80%;
        color: @color-light-text;

        a {
            text-decoration: none;
            color: @color-light-text;
        }
    }

    .footer:hover a {
        text-decoration: underline;
    }

    .ajax-loader {
        display: block;
        margin: 1em auto;
    }

    .view-mode {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul.view-mode {
        list-style-type: none;

        li {
            margin: 0 0 0.7em 0;
            padding: 0;
            display: inline-block;

            a {
                text-decoration: none;
                color: @color-logo-blue;
            }
            a:hover {
                text-decoration: underline;
            }
        }

        li.current {
            a {
                color: @color-logo-pink;
            }
        }

        li:after {
            content: " |\00a0";
        }

        li:last-child:after {
            content: "";
        }
    }

    a.expand.left {
        margin-right: 0.3em;
    }

    table.speeches {

        border-spacing: 0 0.9em;

        tr.speech {
            line-height: 1.2em;

            th {
                font-weight: normal;
                text-align: right;
                white-space: nowrap;
                vertical-align: middle;
            }

            td {
                vertical-align: middle;
            }

            .speaker {
                border: 1px solid @color-light-text;
                border-radius: @input-border-radius;
                display: inline-block;
                vertical-align: middle;
                font-size: 0.8em;
                font-weight: normal;
                padding: 0.05em 0.7em;
            }

            .speech-text {
                display: block;
                margin-left: 1em;

                span.play-audio {

                    padding-left: 1em;

                    img {
                        width: 1.2em;
                        vertical-align: middle;
                        cursor: pointer;
                    }

                    img:hover {
                        text-decoration: underline;
                    }
                }
            }

            .speech-text.focus {
                background-color: @color-bg-light-blue;
            }

            .plus {
                font-weight: bold;
                font-size: 110%;
            }

            .overlap {
                float: right;
                width: 1em;
            }
        }

        tr.expand {

            th {
                text-align: right;
                padding-right: 0.2em;

                a {
                    width: 3em;
                    display: inline-block;

                    img {
                        width: 1.4em;
                    }
                }
            }
        }
    }
}

table.full-ref {
    border-spacing: 0;
    border: 1px solid @color-default-green;
    border-radius: @border-radius-default;
    margin: 0.7em auto;
    background-color: #FFFFFF;
}

table.full-ref td,
table.full-ref th {
    padding: 0.3em;
    text-align: left;
}

table.full-ref th {
    padding-left: 1em;
}

table.full-ref td.data {
    padding-right: 1.5em;
}

table.full-ref td.data:not(:last-child) {
    border-color: @color-light-frame;
    border-style: solid;
    border-width: 0 1px 0 0;
}

table.full-ref tr:nth-child(odd) {
    background-color: @color-light-green;
}

.par {
    padding: 2px;
}


/* concordance annotation */

tr.highlight {
    background-color: #bfb;
}

tr.highlight td {
    border-top: 1px dashed #484;
    border-bottom: 1px dashed #484;
}

tr.even {
  background-color: @color-light-green;
}

/* spoken corpus */

a.speech-link,
span.speech-link {
    font-size: 120%;
    color: #9ce;
    font-weight: bold;
    text-decoration: none;
    padding: 0 0.1em 0 0.1em;
}

span.speech-link.disabled {
    color: @color-light-grey;
}

.active a.speech-link {
    color: #E9F7FC;
}

a.speech-link:hover {
    background-color: #9ce;
    color: #FFF;
}

#audio-wrapper {
    position: absolute;
    display: inline-block;
    z-index: 10000;
    width: 7em;
}

.audio-controls {
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #767284;
    background-color: #e9f7fc;
    overflow: hidden;
    padding: 0.3em 0.6em;
    box-shadow: 3px 3px 4px #aaa;

    > a {
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        width: 1.6em;
        height: 1.6em;
        background-size: 1.2em 1.2em;
        background-repeat: no-repeat;
        background-position: 0 0.15em;
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    a.img-button-play-active {
        animation-name: playBlink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    a.img-button-pause-active {
        animation-name: pauseBlink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    a.img-button-play {
        background-image: url('../img/media_play.svg');
    }

    a.img-button-pause {
        background-image: url('../img/media_pause.svg');
    }

    a.img-button-stop {
        background-image: url('../img/media_stop.svg');
    }

    a.audio-error-confirm {
        text-decoration: none;
        display: block;
        padding: 3px 5px;
        font-weight: bold;
        font-size: 120%;
    }

    a.audio-error-confirm:hover {
        color: #FFFFFF !important;
    }
}

@keyframes playBlink {
    0% {
        background-image: url('../img/media_play.svg');
    }
    49% {
        background-image: url('../img/media_play.svg');
    }
    50% {
        background-image: url('../img/media_play_s.svg');
    }
    99% {
        background-image: url('../img/media_play_s.svg');
    }
}

@keyframes pauseBlink {
    0% {
        background-image: url('../img/media_pause.svg');
    }
    49% {
        background-image: url('../img/media_pause.svg');
    }
    50% {
        background-image: url('../img/media_pause_s.svg');
    }
    99% {
        background-image: url('../img/media_pause_s.svg');
    }
}

#audio-error-confirm {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

#conclines {
    .concordance-col-heading {
        min-width: 280px;
        text-align: center;
    }

    .concordance-col-heading-hidden {
        width: 2em;
    }

    .select-primary-lang {
        font-size: 110%;
        font-family: "Roboto";
    }

    tr.active {
        background-color: RGBA(138, 195, 218, 0.6);
    }

    td.lc > span.ml, td.rc > span.ml, td.kw > strong.ml, td > em.ml, td.par > span > span.ml, td.par > span > strong.ml {
        display: inline-flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;

        span.tail {
            color: @color-light-text;
            font-style: normal;
            padding-left: 0.1em;
            padding-right: 0.1em;
        }

        span.tail.attr {
            font-weight: normal;
        }
    }

    td.kw > strong:not(:first-child) {
        padding-left: 0.2em;
    }
}

.jump-to {
    margin: 5px auto 5px auto;
}

.jump-to select {
    font-size: 80%;
}

#result-info {
    margin: 0;
    float: left;
    width: 80%;
    font-size: 1em;
    font-family: @condensed-font-family;

    #ipm-loader img {
        background-color: white;
        border-radius: 3px;
        padding: 3px 20px;
        opacity: 0.7;
        position: absolute;
    }

    .ipm {
        font-weight: bold;
    }

    sup {
        vertical-align: middle;
        top: -0.4em;
        padding-left: 0.2em;
    }

    .notice-shuffled {
        white-space: nowrap;
    }

    .ipm-note img {
        display: inline-block;
        width: 1em;
        vertical-align: middle;
        margin-right: 0.3em;
        margin-left: 0.1em;
    }
}

#selection-actions {

    fieldset {
        legend {
            font-weight: bold;
            padding-right: 0.6em;
        }
        button.ok {
            margin-right: 0.4em;
        }
        input.email {
            margin-right: 0.6em;
        }
        span.arrow {
            font-size: 130%;
            font-weight: bold;
            color: @color-logo-pink;
        }
    }

    .ajax-loader-bar {
        display: inline-block;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .chart-area {
        vertical-align: middle;
        margin-top: 1em;
        min-width: 200px;
        min-height: 200px;

        img.ajax-loader {
            display: block;
            margin-top: 6em;
            margin-left: auto;
            margin-right: auto;
        }

        .chart {
            display: inline-block;
            vertical-align: middle;
        }

        table.chart-label {
            display: inline-block;
            vertical-align: middle;
            padding-left: 1em;
        }

        table.chart-label .color-code {
            display: inline-block;
            height: 1.5em;
            width: 1.5em;
            border-color: @color-frame-fieldset;
            border-width: 1px;
            border-radius: @input-border-radius;
        }

        table td {
            padding-left: 0.4em;
        }

        table td.additional {
            color: @color-light-text;
        }


        table th {
            font-weight: bold;
            padding-left: 0.4em;
        }

        table .num {
            text-align: right;
        }
    }

    .generated-link {
        margin-top: 2em;
        display: block;

        .conc-link {
            display: block;
            background-color: @color-light-grey;
            border: 1px solid @color-light-text;
            padding: 0.2em 0.5em;
            margin-bottom: 1em;
            min-width: 30em;
        }
    }

    h4 {
        font-size: 0.9em;
        margin-top: 0;
        text-align: center;
    }

    .form-item {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

section#chart-export {
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#conclines .note {
    padding: 0 0 0 1em;
}

@import "./layoutMobile.less";
@import "~custom-styles/theme.less";