@import "./shared/globals.less";

.UnsupportedRenderer {

    .note {
        text-align: center;
    }

    .data-label {
        margin-bottom: 0;
    }

    pre {
        font-size: 0.7em;
        white-space: normal;
    }

}

@import "./layoutMobile.less";
@import "~custom-styles/theme.less";