{#-
Copyright (c) 2003-2009  Pavel Rychly
Copyright (c) 2014 Charles University, Faculty of Arts,
                   Department of Linguistics
Copyright (c) 2014 Tomas Machalek <tomas.machalek@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-#}

{% if heading -%}
## KWIC lines:

# Corpus: {{ human_corpname }}
{% if usesubcorp %}# Subcorpus: {{ usesubcorp }}{% endif -%}
# Hits: {{ concsize | formatnumber }}
# Relative frequency: {{ result_relative_freq | formatnumber }} ({{ result_relative_freq_rel_to }})
{% if result_arf != '' %}# ARF: {{ result_arf | formatnumber }}{% endif -%}
{% for desc in Desc %}
# {{ desc.op }}: {{ desc.arg }} {{ desc.size | formatnumber }}
{% endfor %}
{% endif -%} {# END of heading -#}
{% for line in Lines -%}
{# main concordances -#}
{% if numbering %}{{ loop.index + numbering_offset }}) {% endif %}{% if num_lines_in_groups > 0 %}{{ line.linegroup }}{% endif -%}
{{ line.ref }} | {% if align_kwic %}{{ line.leftspace }}{% endif -%}
{{ line.Left|rejectattr("class", "equalto", "strc")|map(attribute="str")|join(" ") }} <{{ line.Kwic|map(attribute="str")|join(" ") }}> {% if align_kwic %}{{kwic_spaces[loop.index-1]}}{% endif %}{{ line.Right|rejectattr("class", "equalto", "strc")|map(attribute="str")|join(" ") -}}
{% if align_kwic %}{{ line.rightspace }}{% endif %}
{# aligned concordances -#}
{% for al in line.get('Align', []) -%}
{{ al['ref'] }} | {% if align_kwic %}{{ al['leftspace'] }}{% endif -%}
{{ al['Left']|rejectattr("class", "equalto", "strc")|map(attribute="str")|join(" ") }} <{{ al['Kwic']|map(attribute="str")|join(" ") }}> {{ al['Right']|rejectattr("class", "equalto", "strc")|map(attribute="str")|join(" ") -}}
{% if align_kwic %}{{ al['rightspace'] }}{% endif %}
{% endfor -%}
{% endfor -%}