{#-
Copyright (c) 2003-2009  Pavel Rychly
Copyright (c) 2014 Charles University, Faculty of Arts,
                   Institute of the Czech National Corpus
Copyright (c) 2014 Tomas Machalek <tomas.machalek@gmail.com>

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; version 2
dated June, 1991.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-#}

{% if heading -%}
# Corpus: {{ human_corpname }}
{% if usesubcorp %}# Subcorpus: {{ usesubcorp }}{% endif -%}
# Hits: {{ concsize }}
# Relative frequency: {{ result_relative_freq }} ({{ result_relative_freq_rel_to }})
{% if result_arf != '' %}# ARF: {{ result_arf }}{% endif -%}
{% for desc in Desc %}
# {{ desc.op }}: {{ desc.arg }} {{ desc.size }}
{% endfor %}
{% endif -%} {# END of heading -#}
## KWIC lines:

{% for line in Lines -%}
{# main concordances -#}
{% if numbering %}{{ loop.index }}) {% endif %}{% if num_lines_in_groups > 0 %}{{ line.linegroup }}{% endif -%}
{{ line.ref }} | {% if align_kwic %}{{ line.leftspace }}{% endif -%}
{% for left in line.Left %}{% if left.class != 'strc' %}{{ left.str }}{% endif %}{% endfor %} <{% for kw in line.Kwic %}{{ kw.str }}{% endfor %}> {% for right in line.Right %}{% if right.class != 'strc' %}{{ right.str }}{% endif %}{% endfor -%}
{% if align_kwic %}{{ line.rightspace }}{% endif %}
{# aligned concordances -#}
{% for al in line.get('Align', []) -%}
{{ al['ref'] }} | {% if align_kwic %}{{ al['leftspace'] }}{% endif -%}
{% if align_kwic %}{{ al['leftspace'] }}{% endif -%}
{% for left in al['Left'] %}{% if left['class'] != 'strc' %}{{ left['str'] }}{% endif %}{% endfor %} <{% for kw in al['Kwic'] %}{{ kw.str }}{% endfor %}> {% for right in al['Right'] %}{% if right['class'] != 'strc' %}{{ right['str'] }}{% endif %}{% endfor -%}
{% if align_kwic %}{{ al['rightspace'] }}{% endif -%}
{% endfor %}
{% endfor %}